{% extends "layout.j2" %}

{% set page = "after-request" %}

{% block content %}
  <main class="page-main">
    <section class="after-request pads">
      <div class="container">
        <div class="after-request__content">
          <h1 class="visually-hidden">Ответ на полученную заявку</h1>
          <p class="after-request__title title">Мы получили вашу заявку и <span>свяжемся с&nbsp;вами в течение 10 минут</span>, чтобы ответить на вопросы</p>
          <p class="after-request__text">Пока ждете, посмотрите тур по клубу с руководителем и экс-бодибилдером Александром Вишняком</p>
          <div class="after-request__video-wrapper">
            <iframe class="video-section__video" width="560" height="315" src="https://www.youtube.com/embed/bK9ZwzDDrM0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </section>

    {% set VIDEO_REVIEWS_NUM = 3 %}
    {% set MESSENGERS_REVIEWS_NUM = 10 %}
    <section class="reviews section">
      <div class="container">
        <div class="reviews__content">
          <h2 class="reviews__title title">Почитайте отзывы о клубе</h2>
          <div class="section__tabs tabs">
            <ul class="section__tabs-list tabs__list" role="tablist">
              <li class="section__tabs-item tabs__item" role="presentation">
                <button class="section__tabs-button tabs__button active button" type="button">Видео</button>
              </li>
              <li class="section__tabs-item tabs__item" role="presentation">
                <button class="section__tabs-button tabs__button button" type="button">В мессенджерах</button>
              </li>
            </ul>
            <div class="section__tabs-content tabs__content">
              <div class="section__tabs-panel tabs__panel active" role="tabpanel">
                <div class="reviews__videos">
                  {% set reviewsVideoSwiperCnt = 1 %}
                  <div class="section__swiper-buttons">
                    <button class="section__swiper-button swiper-button swiper-button--prev" id="reviews-video-swiper-{{reviewsVideoSwiperCnt}}-btn-prev" type="button">
                      <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                        <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                      </svg>
                      <span class="visually-hidden">Перелестнуть назад</span>
                    </button>
                    <button class="section__swiper-button swiper-button swiper-button--next" id="reviews-video-swiper-{{reviewsVideoSwiperCnt}}-btn-next" type="button">
                      <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                        <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                      </svg>
                      <span class="visually-hidden">Перелестнуть вперед</span>
                    </button>
                  </div>
                  <div class="reviews__videos-swiper section__swiper swiper" id="reviews-video-swiper-{{reviewsVideoSwiperCnt}}" data-reviews-video-swiper>
                    <div class="swiper-wrapper">
                      {% for slideIndex in range(VIDEO_REVIEWS_NUM) %}
                        <div class="reviews__videos-swiper-slide section__swiper-slide swiper-slide">
                          <div class="reviews__video-wrapper">
                            <iframe class="reviews__video" width="560" height="315" src="https://www.youtube.com/embed/vtIQcIMr7iM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="section__tabs-panel tabs__panel" role="tabpanel">
                <div class="reviews__in-messengers">
                  {% set reviewsInMessengersSwiperCnt = 1 %}
                  <div class="section__swiper-buttons">
                    <button class="section__swiper-button swiper-button swiper-button--prev" id="reviews-in-messengers-swiper-{{reviewsInMessengersSwiperCnt}}-btn-prev" type="button">
                      <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                        <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                      </svg>
                      <span class="visually-hidden">Перелестнуть назад</span>
                    </button>
                    <button class="section__swiper-button swiper-button swiper-button--next" id="reviews-in-messengers-swiper-{{reviewsInMessengersSwiperCnt}}-btn-next" type="button">
                      <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                        <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                      </svg>
                      <span class="visually-hidden">Перелестнуть вперед</span>
                    </button>
                  </div>
                  <div class="reviews__in-messengers-swiper section__swiper swiper" id="reviews-in-messengers-swiper-{{reviewsInMessengersSwiperCnt}}" data-reviews-in-messengers-swiper>
                    <div class="swiper-wrapper">
                      {% for slideIndex in range(MESSENGERS_REVIEWS_NUM) %}
                        <div class="reviews__in-messengers-swiper-slide section__swiper-slide swiper-slide">
                          <picture>
                            <source type="image/webp" srcset="@img/messenger-review.webp 1x">
                            <img class="reviews__in-messengers-image" src="@img/messenger-review.jpg" alt="Отзыв в мессенджере {{slideIndex + 1}}" loading="lazy">
                          </picture>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% set trainersTitle = "Посмотрите тренеров powerhouse gym" %}
    {% include "./blocks/trainers.j2" %}
  </main>

{% endblock content %}

{% block js %}
  <script src="./js/swiper-bundle.min.js"></script>
  <script src="./js/main.min.js"></script>
  <script src="./js/tabs.min.js"></script>
  <script src="./js/gallery.min.js"></script>
  <script src="./js/reviews-swipers.min.js"></script>
{% endblock %}
