{% extends "layout.j2" %}

{% set page = "crossfit" %}

{% block content %}
  <main class="page-main">
    <section class="video-header video-header--cross">
      <div class="breadcumbs breadcumbs--has-drak-bg">
        <div class="breadcumbs__container container">
          <ul class="breadcumbs__list">
            <li class="breadcumbs__item">
              <a class="breadcumbs__link" href="./index.html">Главная</a>
              <svg class="breadcumbs__arrow" width="6" height="9" viewBox="0 0 6 9">
                <use xlink:href="img/sprite.svg#breadcumbs-arrow"></use>
              </svg>
            </li>
            <li class="breadcumbs__item">
              <a class="breadcumbs__link" href="./gym.html">О зале</a>
              <svg class="breadcumbs__arrow" width="6" height="9" viewBox="0 0 6 9">
                <use xlink:href="img/sprite.svg#breadcumbs-arrow"></use>
              </svg>
            </li>
            <li class="breadcumbs__item">
              <span class="breadcumbs__link breadcumbs__link--current">Кроссфит</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="video-header__content">
          <div class="video-header__header">
            <h1 class="visually-hidden">Кроссфит</h1>
            <p class="video-header__title page__title page__title--light">Повышайте силу и выносливость на&nbsp;тренировках по кроссфиту в фитнес-клубе powerhouse gym</p>
          </div>
          <p class="video-header__text">У нас есть все для этого. Десятки турников, брусьев и перекладин. Кольца, тяжелые колеса, канаты и молот. А главное - опытный тренер и более эффективные групповые тренировки</p>
          <div class="video-header__buttons">
            <button class="button button--reverse video-header__program-button" type="button" data-test-train-modal>Записаться на пробную тренировку</button>
          </div>
        </div>
      </div>
      <video class="video-header__video" preload="none" loop muted poster="@img/video-header-bg.jpg">
        <source src="./files/gym-video.mp4" type="video/mp4">
      </video>
      <div class="container">
        <div class="video-header__mobile-image-wrapper">
          <picture>
            <source type="image/webp" srcset="@img/video-header-program-mobile.webp 1x">
            <img class="video-header__mobile-image" src="@img/video-header-program-mobile.jpg" alt="">
          </picture>
        </div>
      </div>
    </section>

    <div class="container">
      <ul class="program-info-list program-info-list--gray program-info-list--cross">
        <li class="program-info-list__item mini-info">
          <div class="mini-info__content">
            <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
            <div class="mini-info__main">
              <p class="mini-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione blanditiis voluptates dignissimos ad quos explicabo ab eaque et. Soluta dolorum id est.</p>
            </div>
          </div>
        </li>
        <li class="program-info-list__item mini-info">
          <div class="mini-info__content">
            <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
            <div class="mini-info__main">
              <p class="mini-info__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam laudantium rerum sequi doloremque quos molestias.</p>
            </div>
          </div>
        </li>
        <li class="program-info-list__item mini-info">
          <div class="mini-info__content">
            <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
            <div class="mini-info__main">
              <p class="mini-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur harum ea voluptates quaerat placeat voluptatibus delectus nobis quos expedita!</p>
            </div>
          </div>
        </li>
        <li class="program-info-list__item mini-info">
          <div class="mini-info__content">
            <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
            <div class="mini-info__main">
              <p class="mini-info__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic animi pariatur quasi distinctio repellendus rem libero aliquam, tenetur nemo?</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    {# Счетчик для свайпера в gym-walk #}
    {% set gallerySwiperCnt = 1 %}
    <section class="photos photos--white-bg pads">
      <div class="photos__container container">
        <h2 class="photos__title title"><span>Современная укомплектованная площадка</span> для&nbsp;кроссфита и работы со своими весом</h2>
        <div class="photos__gallery gallery">
          {% set imageCount = 1 %}
          <div class="gallery__swiper-wrapper">
            <div class="gallery__swiper gallery__swiper--main swiper">
              <div class="swiper-wrapper">
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
              </div>
            </div>
            <div class="gallery__swiper gallery__swiper--thumbs gallery__swiper--thumbs-has-title gallery__swiper--with-buttons-in-thumbs swiper">
              <div class="swiper-wrapper">
                {% set imageCount = imageCount - 10 %}
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
              </div>
            </div>

            <button class="gallery__swiper-button gallery__swiper-button--prev gallery__swiper-button--in-thumbs" id="gallery-swiper-{{gallerySwiperCnt}}-prev" type="button">
              <svg class="gallery__swiper-button-icon" width="11" height="17" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть назад</span>
            </button>
            <button class="gallery__swiper-button gallery__swiper-button--next gallery__swiper-button--in-thumbs" id="gallery-swiper-{{gallerySwiperCnt}}-next" type="button">
              <svg class="gallery__swiper-button-icon" width="11" height="17" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть вперед</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    {% set gallerySwiperCnt = gallerySwiperCnt + 1 %}

    <section class="about-zone section pads">
      <div class="container">
        <div class="about-zone__content">
          <h2 class="about-zone__title title">Полный комплект инвентаря для работы со&nbsp;своим телом в зоне кроссфита</h2>
          <div class="about-zone__swiper-container">
            <div class="about-zone__swiper-buttons section__swiper-buttons">
              <button class="section__swiper-button swiper-button swiper-button--prev" id="about-zone-swiper-btn-prev" type="button">
                <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button swiper-button swiper-button--next" id="about-zone-swiper-btn-next" type="button">
                <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть вперед</span>
              </button>
            </div>
            <div class="about-zone__swiper swiper section__swiper" id="about-zone-swiper">
              <div class="swiper-wrapper">
                <div class="about-zone__card swiper-slide section__swiper-slide">
                  <div class="about-zone__card-content">
                    <p class="about-zone__card-title">Молот</p>
                    <picture class="about-zone__card-image-wrapper">
                      <source type="image/webp" srcset="@img/about-zone-image.webp 1x">
                      <img class="about-zone__card-image" src="@img/about-zone-image.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="about-zone__card swiper-slide section__swiper-slide">
                  <div class="about-zone__card-content">
                    <p class="about-zone__card-title">Колеса от грузовика</p>
                    <picture class="about-zone__card-image-wrapper">
                      <source type="image/webp" srcset="@img/about-zone-image.webp 1x">
                      <img class="about-zone__card-image" src="@img/about-zone-image.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="about-zone__card swiper-slide section__swiper-slide">
                  <div class="about-zone__card-content">
                    <p class="about-zone__card-title">Степперы</p>
                    <picture class="about-zone__card-image-wrapper">
                      <source type="image/webp" srcset="@img/about-zone-image.webp 1x">
                      <img class="about-zone__card-image" src="@img/about-zone-image.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="about-zone__card swiper-slide section__swiper-slide">
                  <div class="about-zone__card-content">
                    <p class="about-zone__card-title">Степперы</p>
                    <picture class="about-zone__card-image-wrapper">
                      <source type="image/webp" srcset="@img/about-zone-image.webp 1x">
                      <img class="about-zone__card-image" src="@img/about-zone-image.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="grid-gallery section pads">
      <div class="container">
        <div class="grid-gallery__content">
          <h2 class="grid-gallery__title title">Фото с тренировок в зоне кроссфита</h2>
          <div class="grid-gallery__gallery-container">
            <div class="grid-gallery__swiper-buttons section__swiper-buttons">
              <button class="section__swiper-button swiper-button swiper-button--prev" id="grid-gallery-swiper-btn-prev" type="button">
                <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button swiper-button swiper-button--next" id="grid-gallery-swiper-btn-next" type="button">
                <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть вперед</span>
              </button>
            </div>
            <div class="grid-gallery__gallery grid-gallery__swiper section__swiper" id="grid-gallery-swiper">
              <div class="grid-gallery__gallery-wrapper swiper-wrapper">
                {% for gridGalleryImageCounter in range(12) %}
                  <div class="grid-gallery__slide swiper-slide">
                    <a class="grid-gallery__link-image" href="@img/grid-gallery/{{(gridGalleryImageCounter % 6) + 1}}.webp" data-grid-gallery-link>
                      <picture>
                        <source type="image/webp" srcset="@img/grid-gallery/{{(gridGalleryImageCounter % 6) + 1}}-preview.webp 1x">
                        <img class="grid-gallery__slide-image" src="@img/grid-gallery/{{(gridGalleryImageCounter % 6) + 1}}-preview.jpg" alt="">
                      </picture>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <button class="button button--show-more" type="button">показать еще</button>
        </div>
      </div>
    </section>

    {% set trainersTitle = "Опытные тренеры помогут достичь результата" %}
    {% set trainersText = "Помогут подобрать подходящие веса, достичь правильной техники выполнения упражнений и отследить прогресс" %}
    {% include "./blocks/trainers.j2" %}
    {% set getCardTitle = "Получите неограниченный доступ <span>к зоне кардио</span>, оформив клубную карту" %}
    {% include "./blocks/get-card.j2" %}
    {% include "./blocks/test-train.j2" %}
    {% include "./blocks/max-result.j2" %}
    {% include "./blocks/contacts.j2" %}

    {% include "./blocks/gym-walk.j2" %}
    {% include "./blocks/promos.j2" %}
    {# Счетчик для свайпера в other-trainings #}
    {% set gallerySwiperCnt = gallerySwiperCnt + 1 %}
    {% include "./blocks/other-trainings.j2" %}


  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modal-image.j2" %}
{% endblock %}

{% block js %}
  <script src="./js/swiper-bundle.min.js"></script>
  <script src="./js/about-zone.min.js"></script>
  <script src="./js/grid-gallery.min.js"></script>
  <script src="./js/modal-image.min.js"></script>
  <script src="./js/gallery.min.js"></script>
  <script src="./js/tariffs.min.js"></script>
  <script src="./js/test-train.min.js"></script>
  <script src="./js/map.min.js"></script>
  <script src="./js/promos.min.js"></script>
  <script src="./js/tabs.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
