{% extends "layout.j2" %}

{% set page = "index" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <h1 class="title">Главная Powerhouse gym</h1>
    </div>

  </main>
{% endblock content %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
