{% extends "layout.j2" %}

{% set page = "index" %}

{% block content %}
  <main class="page-main">
    <section class="video-header">
      <h1 class="visually-hidden">Главная Powerhouse gym</h1>
      <div class="container">
        <div class="video-header__content">
          <span class="video-header__emphasis">В фитнес-клубе</span>
          <span class="video-header__emphasis video-header__emphasis--red">Powerhouse gym</span>
          <p class="video-header__text">есть все для достижения максимальных спортивных результатов</p>
          <div class="video-header__buttons">
            <a class="button video-header__button button video-header__button--red" href="#!">от 66 ₽ в день</a>
            <a class="button video-header__button" href="#!">
              <svg class="video-header__button-icon button__icon" width="35" height="40" viewBox="0 0 35 40">
                <use xlink:href="img/sprite.svg#play-icon"></use>
              </svg>
              <span>тур по клубу</span>
            </a>
          </div>
        </div>
      </div>
      <video class="video-header__video" preload="none" loop muted poster="@img/video-header-bg.jpg">
        <source src="./files/gym-video.mp4" type="video/mp4">
      </video>
    </section>

  </main>
{% endblock content %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
