{% extends "layout.j2" %}

{% set page = "news" %}

{% block content %}
  <main class="page-main bg">
    <div class="breadcumbs">
      <div class="breadcumbs__container container">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
            <svg class="breadcumbs__arrow" width="6" height="9" viewBox="0 0 6 9">
              <use xlink:href="img/sprite.svg#breadcumbs-arrow"></use>
            </svg>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./about.html">О клубе</a>
            <svg class="breadcumbs__arrow" width="6" height="9" viewBox="0 0 6 9">
              <use xlink:href="img/sprite.svg#breadcumbs-arrow"></use>
            </svg>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Новости</span>
          </li>
        </ul>
      </div>
    </div>

    {% set NEWS_CARDS_NUMBER = 12 %}
    <section class="news">
      <div class="container">
        <div class="news__content">
          <h1 class="news__title page__title">Новости</h1>
          <form class="news__filters-form form" action="https://echo.htmlacademy.ru" method="get" id="news-filter-form">
            <label class="news__filters-form-label form__label">
              <select class="form__select" id="news-date-filter" name="news-date-filter" data-form-select-one>
                <option value="Декабрь 2022">Декабрь 2022</option>
                <option value="Январь 2023">Январь 2023</option>
                <option value="Февраль 2023"">Февраль 2023</option>
              </select>
            </label>
          </form>
          <ol class="news__cards-list">
            {% for cardIndex in range(NEWS_CARDS_NUMBER) %}
              <div class="news__cards-item news-card">
                <div class="news-card__content">
                  <div class="news-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/news-card-image-1.webp 1x">
                      <img class="news-card__image" src="@img/news-card-image-1.jpg" alt="" width="280" height="162">
                    </picture>
                  </div>
                  <span class="news-card__date">09.02.2022</span>
                  <p class="news-card__preview-text">В клубе прошло соревнование по пауэрлифтингу среди любителей</p>
                </div>
                <a class="news-card__link" href="#!"></a>
              </div>
            {% endfor %}
          </ol>
        </div>
      </div>
    </section>


{% endblock content %}

{% block js %}
  <script src="./js/choices.min.js"></script>
  <script src="./js/news.min.js"></script>
  <script src="./js/main.min.js"></script>
  <script src="./js/tabs.min.js"></script>
{% endblock %}
