{% extends "layout.j2" %}

{% set page = "program-page" %}

{% block content %}
  <main class="page-main">
    <section class="video-header video-header--program">
      <div class="breadcumbs breadcumbs--has-drak-bg">
        <div class="breadcumbs__container container">
          <ul class="breadcumbs__list">
            <li class="breadcumbs__item">
              <a class="breadcumbs__link" href="./index.html">Главная</a>
              <svg class="breadcumbs__arrow" width="6" height="9" viewBox="0 0 6 9">
                <use xlink:href="img/sprite.svg#breadcumbs-arrow"></use>
              </svg>
            </li>
            <li class="breadcumbs__item">
              <a class="breadcumbs__link" href="./programs.html">Программы</a>
              <svg class="breadcumbs__arrow" width="6" height="9" viewBox="0 0 6 9">
                <use xlink:href="img/sprite.svg#breadcumbs-arrow"></use>
              </svg>
            </li>
            <li class="breadcumbs__item">
              <span class="breadcumbs__link breadcumbs__link--current">LesMills BodyPump</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="video-header__content">
          <div class="video-header__header">
            <h1 class="video-header__title page__title page__title--light">LesMills BODYPUMP</h1>
            <picture class="video-header__program-icon">
              <source media="(min-width: {{laptopWidth}}" srcset="@img/lesmills/bodypump.png">
              <img src="@img/lesmills/bodypump-black.png" alt="">
            </picture>
          </div>
          <p class="video-header__text">Самая популярная в мире силовая тренировка со штангой&nbsp;с&nbsp;научно доказанной эффективностью</p>
          <ul class="video-header__list list">
            <li class="video-header__list-item list__item"><b>Продолжительность:</b><br>30-60 минут</li>
            <li class="video-header__list-item list__item"><b>Уровень:</b><br>Новичок</li>
            <li class="video-header__list-item list__item"><b>Сжигает:</b><br>до 540 калорий</li>
          </ul>
          <div class="video-header__buttons">
            <a class="button button--reverse video-header__program-button" href="#!">посмотреть расписание</a>
            <a class="button button--has-dark-bg-laptop video-header__program-button" href="#!">пробная тренировка</a>
          </div>
        </div>
      </div>
      <video class="video-header__video" preload="none" loop muted poster="@img/video-header-bg.jpg">
        <source src="./files/gym-video.mp4" type="video/mp4">
      </video>
      <div class="container">
        <div class="video-header__mobile-image-wrapper">
          <picture>
            <source type="image/webp" srcset="@img/video-header-program-mobile.webp 1x">
            <img class="video-header__mobile-image" src="@img/video-header-program-mobile.jpg" alt="">
          </picture>
        </div>
      </div>
    </section>

    <div class="container">
        <ul class="program-info-list">
          <li class="program-info-list__item mini-info">
            <div class="mini-info__content">
              <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
              <div class="mini-info__main">
                <p class="mini-info__text">Способствует сжиганию калорий и помогает набрать сухую мышечную массу</p>
              </div>
            </div>
          </li>
          <li class="program-info-list__item mini-info">
            <div class="mini-info__content">
              <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
              <div class="mini-info__main">
                <p class="mini-info__text">Основана на многоповторных упражнениях с лёгкими и средними весами в быстром темпе</p>
              </div>
            </div>
          </li>
          <li class="program-info-list__item mini-info">
            <div class="mini-info__content">
              <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
              <div class="mini-info__main">
                <p class="mini-info__text">Усиливает выносливость и взрывную силу в короткие сроки</p>
              </div>
            </div>
          </li>
          <li class="program-info-list__item mini-info">
            <div class="mini-info__content">
              <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
              <div class="mini-info__main">
                <p class="mini-info__text">За одну тренировку вы прорабатывает все основные группы мышц</p>
              </div>
            </div>
          </li>
        </ul>
    </div>

    <section class="training-video video-section">
      <div class="container">
        <div class="training-video__content video-section__content">
          <div class="training-video__main video-section__main">
            <h2 class="training-video__title title">Как проходит тренировка LesMills Bodypump</h2>
            <ul class="training-video__list list">
              <li class="training-video__item list__item">Под стимулирующую трендовую музыку с использованием штанги и  набором весов от 2-ух до 60-ти кг.</li>
              <li class="training-video__item list__item">Включает основные упражнения: приседания, выпады, наклоны, тяги, жимы и разгибания</li>
              <li class="training-video__item list__item">Длится 59 минут и состоит из 8 частей, каждая из которых направлена на работу с определённой группой мышц и сопровождается своим музыкальным треком</li>
              <li class="training-video__item list__item">Тренировка начинается и заканчивается разминкой, также со своим музыкальным треком</li>
              <li class="training-video__item list__item">Во время занятий используются гантели, степ-платформа и специальная мини-штанга</li>
            </ul>
          </div>
          <div class="training-video__video-wrapper video-section__video-wrapper">
            <iframe class="video-section__video" width="560" height="315" src="https://www.youtube.com/embed/vtIQcIMr7iM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    {% include "./blocks/fitquest.j2" %}

    {% set gallerySwiperCnt = 1 %}
    <section class="photos pads">
      <div class="photos__container container">
        <h2 class="photos__title title">фото с тренировок LesMills Bodypump</h2>
        <div class="photos__gallery gallery">
          {% set imageCount = 1 %}
          <div class="gallery__swiper-wrapper">
            <div class="gallery__swiper gallery__swiper--main swiper">
              <div class="swiper-wrapper">
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-slide swiper-slide">
                  <picture class="gallery__swiper-slide-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
              </div>
            </div>
            <div class="gallery__swiper gallery__swiper--thumbs gallery__swiper--thumbs-has-title gallery__swiper--with-buttons-in-thumbs swiper">
              <div class="swiper-wrapper">
                {% set imageCount = imageCount - 10 %}
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
                <div class="gallery__swiper-thumb swiper-slide">
                  <picture class="gallery__swiper-thumb-wrapper">
                    <source type="image/webp" srcset="@img/lesmills/gallery-image-{{imageCount}}.webp 1x, @img/lesmills/gallery-image-{{imageCount}}.webp 2x">
                    <img class="gallery__image" src="@img/lesmills/gallery-image-{{imageCount}}.jpg" srcset="@img/lesmills/gallery-image-{{imageCount}}.jpg 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                </div>
              </div>
            </div>

            <button class="gallery__swiper-button gallery__swiper-button--prev gallery__swiper-button--in-thumbs" id="gallery-swiper-{{gallerySwiperCnt}}-prev" type="button">
              <svg class="gallery__swiper-button-icon" width="11" height="17" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть назад</span>
            </button>
            <button class="gallery__swiper-button gallery__swiper-button--next gallery__swiper-button--in-thumbs" id="gallery-swiper-{{gallerySwiperCnt}}-next" type="button">
              <svg class="gallery__swiper-button-icon" width="11" height="17" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть вперед</span>
            </button>
          </div>
        </div>
      </div>
    </section>


    {% set trainersTitle = "Тренеры LesMills BodyPump" %}
    {% include "./blocks/trainers.j2" %}

    {% include "./blocks/get-card.j2" %}

    {% include "./blocks/train-pack.j2" %}
    {% include "./blocks/test-train.j2" %}



  </main>
{% endblock content %}

{% block js %}
  <script src="./js/swiper-bundle.min.js"></script>
  <script src="./js/tariffs.min.js"></script>
  <script src="./js/train-pack.min.js"></script>
  <script src="./js/main.min.js"></script>
  <script src="./js/gallery.min.js"></script>
  <script src="./js/scale.min.js"></script>
  <script src="./js/test-train.min.js"></script>
  {# <script src="./js/tabs.min.js"></script> #}
{% endblock %}
