{% extends "layout.j2" %}

{% set page = "promos" %}

{% block content %}
  <main class="page-main bg">
    <div class="breadcumbs">
      <div class="breadcumbs__container container">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
            <svg class="breadcumbs__arrow" width="6" height="9" viewBox="0 0 6 9">
              <use xlink:href="img/sprite.svg#breadcumbs-arrow"></use>
            </svg>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Акции</span>
          </li>
        </ul>
      </div>
    </div>
  </main>

  <section class="promos promos--own-page pads section">
    <div class="container">
      <div class="promos__content">
        <h1 class="promos__page-title page__title">Акции powerhouse&nbsp;gym</h1>
        <ul class="promos__cards-list">
          <li class="promos__cards-list-item promo-card">
            <div class="promo-card__content">
              <span class="promo-card__expiry-date">до 15 ноября</span>
              <p class="promo-card__title">Отец и сын от 14 лет - один абонемент</p>
              <p class="promo-card__description">Берите сына на тренировку. Занимайтесь вместе и показывайте ему хороший пример!</p>
            </div>
            <img src="@img/promo-father-and-son.jpg" alt="" class="promo-card__back-image" width="523" height="351">
            <a class="promo-card__link" href="./promo-page.html"></a>
          </li>
          <li class="promos__cards-list-item promo-card">
            <div class="promo-card__content">
              <span class="promo-card__expiry-date">до 15 ноября</span>
              <p class="promo-card__title">Отец и сын от 14 лет - один абонемент</p>
              <p class="promo-card__description">Берите сына на тренировку. Занимайтесь вместе и показывайте ему хороший пример!</p>
            </div>
            <img src="@img/promo-father-and-son.jpg" alt="" class="promo-card__back-image" width="523" height="351">
            <a class="promo-card__link" href="./promo-page.html"></a>
          </li>
          <li class="promos__cards-list-item promo-card">
            <div class="promo-card__content">
              <span class="promo-card__expiry-date">Бессрочная акция</span>
              <p class="promo-card__price">2000 ₽</p>
              <p class="promo-card__title">за друга</p>
            </div>
            <img src="@img/promo-one-friend.jpg" alt="" class="promo-card__back-image" width="523" height="351">
            <a class="promo-card__link" href="./promo-page.html"></a>
          </li>
          <li class="promos__cards-list-item promo-card">
            <div class="promo-card__content">
              <span class="promo-card__expiry-date">Бессрочная акция</span>
              <p class="promo-card__price">-30%</p>
              <p class="promo-card__title">за 2 друзей</p>
            </div>
            <img src="@img/promo-two-friends.jpg" alt="" class="promo-card__back-image" width="523" height="351">
            <a class="promo-card__link" href="./promo-page.html"></a>
          </li>
          <li class="promos__cards-list-item promo-card">
            <div class="promo-card__content">
              <span class="promo-card__expiry-date">до 15 ноября</span>
              <p class="promo-card__title">Разовые посещения по 500 ₽ по будням до 14:00</p>
            </div>
            <img src="@img/promo-one-visit.jpg" alt="" class="promo-card__back-image" width="523" height="351">
            <a class="promo-card__link" href="./promo-page.html"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

{% endblock content %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
