.blog {
  padding-top: 30px;
  padding-bottom: 40px;

  @media (width >= $laptop-width) {
    padding-top: 0;
    padding-bottom: 70px;
  }
  @media (width >= $desktop-width) {
    padding-bottom: 85px;
  }
}
.blog__content {
  display: flex;
  flex-direction: column;
}
.blog__title {
}
.blog__filters {
  margin-bottom: 20px;

  @media (width >= $laptop-width) {
    margin-bottom: 30px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 80px;
  }
}
.blog__cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (width >= $laptop-width) {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 15px;
  }
  @media (width >= $desktop-width) {
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: auto;
  }
}

.blog__cards-item {
  & .blog__card--advertisement::after {
    background-color: transparentize($secondary-color, 0.3);
  }
  @media (width >= $desktop-width) {
    grid-column: span 6;
    &:nth-child(10n + 3),
    &:nth-child(10n + 6) {
      grid-column: span 4;
      grid-row: span 2;
    }
  }
}

.blog__cards-item--hidden {
  display: none;
}
