.blog-article {
  padding-bottom: 20px;
}

.blog-article__content {
  display: flex;
  flex-direction: column;

  @media (width >= $laptop-width) {
    max-width: 1000px;
  }
}

.blog-article__title {
  bottom: 20px;

  margin: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  font-family: $header-font;

  @media (width >= $laptop-width) {
    margin-bottom: 35px;

    font-size: 30px;
  }
}

.blog-article__paragraph {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 18px;
  line-height: 130%;

  @media (width >= $laptop-width) {
    font-size: 20px;
  }
}

.blog-article__image {
  margin-bottom: 20px;
}
