.box-trains {
  background-color: $bg-color;
}

.box-trains__info-list {
  margin-bottom: 20px;

  @media (width >= $laptop-width) {
    margin-bottom: 40px;
  }
}

.box-trains__pack {
  background-color: transparent;
}

.box-trains__card {
  background-color: $white-color;
}
