.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $mobile-paddings;
  padding-left: $mobile-paddings;

  @media (width >= $tablet-width) {
    // max-width: $tablet-width;
    padding-right: $tablet-paddings;
    padding-left: $tablet-paddings;
  }
  @media (width >= $laptop-width) {
    // max-width: $laptop-width;
    padding-right: $laptop-paddings;
    padding-left: $laptop-paddings;
  }
  @media (width >= $desktop-width) {
    max-width: $desktop-width;
    padding-right: $desktop-paddings;
    padding-left: $desktop-paddings;
  }
}
