.form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 4px;
}

.form__label-text {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 25px;
  color: $font-default;
}

.form__field {
  padding: 20px 16px;

  font-size: 17px;
  line-height: 25px;
  color: $font-default;

  background-color: $white-color;
  border: none;
  border-radius: 1px;

  &:hover,
  &:focus-visible {
    outline: 2px solid $secondary-color;
  }

  &::placeholder {
    opacity: 0.7;
  }
}

.has-white-bg .form__field {
  outline: 1px solid transparentize($secondary-color, 0.5);

  &:hover,
  &:focus-visible {
    outline: 2px solid $secondary-color;
  }
}

.form__col-row-wrapper {
  display: flex;

  gap: 10px;

  @media (width < $tablet-width) {
    flex-direction: column;
  }
  @media (width >= $desktop-width) {
    flex-direction: column;
  }

  & .form__label {
    max-width: 325px;
  }
}

.form__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 10px;
}

.form__messengers {
  display: flex;

  gap: 3px;
}

.form__label--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: initial;

  gap: 7px;
}

.form__mark {
  width: 17px;
  height: 17px;

  background-color: $bg-color;
  border: 1px solid transparent;

  transition: border 0.5s ease;
}

.form__checkbox:checked + .form__mark {
  background-image: url("@img/icons/select-check-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:hover + .form__mark,
.form__checkbox:focus + .form__mark {
  border-color: $secondary-color;
}

.form__checkbox-label-text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;

  opacity: 0.7;
}

.form__error-message {
  padding-left: 10px;

  color: red;
}

.form__button-plus-policy {
  display: flex;
  flex-direction: column;

  gap: 4px;
  & .form__button {
    padding-top: 21.5px;
    padding-bottom: 21.5px;

    font-size: 18px;
    line-height: 20px;
  }
}

.form--has-white-bg {
  & .form__field {
    background-color: $bg-color;
  }
}

// ============= Настройка выпадающего селекта

.form-choices {
  position: relative;

  overflow: hidden;

  color: $font-default;

  &:focus-visible {
    outline: none;
  }

  &.is-open {
    overflow: visible;
  }

  &.is-focused {
    & .form-choices__inner .form-choices__item {
      box-shadow: inset 5px 5px 55px fade-out($secondary-color, 0.8);
    }
  }

  // &.is-flipped {
  //   @media (width >= $laptop-width) {
  //     & .form-choices__list[aria-expanded],
  //     & .form-choices__list--dropdown {
  //       top: auto;
  //       bottom: 100%;
  //     }
  //   }
  // }
}

// Стрелочка выпдающего списка

.form-choices[data-type*="select-one"]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;

  width: 18px;
  height: 9px;

  background-image: url("@img/icons/form-select-dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);

  pointer-events: none;
}

// Стрелочка выпдающего списка (открыта)

.is-open.form-choices[data-type*="select-one"]::after {
  transform: translateY(-50%) rotate(180deg);
}

.form-choices__inner {
  width: 100%;
  min-height: 64px;
  overflow: hidden;

  font-size: 14px;
  line-height: 130%;
  font-family: inherit;

  border: 1px solid $secondary-color;

  &:hover {
    & .form-choices__item {
      box-shadow: inset 5px 5px 55px fade-out($secondary-color, 0.8);
    }
  }
}

.form-choices[data-type*="select-one"] {
  & .form-choices__inner {
    & .form-choices__item {
      padding: 22px 33px;
      padding-right: 50px;
      overflow: hidden;

      font-family: $header-font;
      white-space: nowrap;
      text-overflow: ellipsis;

      background-color: $white-color;
    }
  }
}

.form-choices[data-type*="select-multiple"] {
  & .form-choices__inner {
    padding: 7px 10px;
    padding-bottom: 5.5px;

    background-color: $white-color;
    cursor: text;
  }
}

.form-choices__item {
  position: relative;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-choices__item--disabled {
  display: none;
}

.form-choices__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  background-color: $bg-color2;
}

.form-choices__list[aria-expanded],
.form-choices__list--dropdown {
  position: absolute;
  top: 100%;
  z-index: 1;

  width: calc(100% + 50px);
  // margin-top: -1px;
  overflow: hidden;
  // word-break: break-all;

  visibility: hidden;

  will-change: visibility;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  @media (width < $laptop-width) {
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    overflow-y: scroll;

    opacity: 0;

    transition: opacity 0.4s ease;
  }
}

.form-choices__list--dropdown {
  padding-top: 10px;

  box-shadow: 10px 10px 10px fade-out(#000000, 0.5);

  & .form-choices__item {
    padding: 22px 33px;
    padding-right: 50px;
    overflow: hidden;

    font-family: $header-font;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: $white-color;
    border: 1px solid #d7d7d7;

    transition: background-color 0.2s ease;

    &:hover,
    &.is-highlighted {
      color: $white-color;

      background-color: $secondary-color;
    }
  }

  & .form-choices__paceholder {
    color: $grey-color;
  }

  & .form-choices__item.is-selected {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 25px;

      width: 13px;
      height: 9px;

      background-image: url("@img/icons/select-check-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);

      scale: 1.5;
    }
  }
}

.form-choices__list--multiple {
  display: inline;

  // gap: 5px;

  & .form-choices__item {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 5px;
    margin-bottom: 4px;
    padding: 12px 15px;

    color: $white-color;
    word-break: keep-all;

    background-color: $secondary-color;
    border-radius: 20px;
  }
}


.form-choices__list--dropdown.is-active {
  z-index: 10;
}

.is-open.form-choices {
  & .form-choices__paceholder {
    // color: $grey-color;
  }

  & .form-choices__list--dropdown {
    & .is-selected.form-choices__paceholder {
      display: none;
    }
  }
}

.form-choices__input {
  padding: 12px 2px;
  padding-top: 13px;

  font-size: 16px;
  line-height: 18px;
  font-family: $header-font;

  background-color: transparent;
  border: none;
  border-radius: 0;

  &:focus-visible {
    outline: none;
  }
}

.form-choices__input::-webkit-search-cancel-button,
.form-choices__input::-webkit-search-decoration,
.form-choices__input::-webkit-search-results-button,
.form-choices__input::-webkit-search-results-decoration {
  display: none;
}

.form-choices__button {
  position: relative;

  width: 20px;
  height: 20px;
  margin-left: 7px;
  padding-left: 16px;

  text-indent: -9999px;

  background-color: transparent;
  border: none;
  border-left: 1px solid $white-color;
  cursor: pointer;

  appearance: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    width: 16px;
    height: 2px;

    background-color: $white-color;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &:hover {
    &::after,
    &::before {
      opacity: 0.7;
    }
  }
}

.form-choices__apply-button {
  width: 300px;
  margin: 10px;

  &:hover {
    background-color: transparent;
  }

  @media (width >= $laptop-width) {
    display: none;
  }
}
