.gallery {
  // height: 100%;
}

.gallery__swiper-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
  // flex-grow: 1;
  max-height: 100%;
}

.gallery__swiper {
  width: 100%;
  height: auto;
}

.gallery__swiper--main {
  // flex-grow: 1;
}

.gallery__swiper-slide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width < $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.gallery__swiper--main .swiper-slide {


  @media (width < $tablet-width) {
    // max-height: 220px;
    position: relative;
    height: 0;
    padding-bottom: 66.6%;

  }

  @media (width >= $tablet-width) {
    max-height: 400px;
  }
  @media (width >= $laptop-width) {
    max-height: 467px;
  }
  @media (width >= $semi-desktop-width) {
    max-height: 564px;
  }
  @media (width >= $desktop-width) {
    max-height: 735px;
  }
}

.gallery__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.gallery__swiper--thumbs {
  flex-shrink: 0;
  // height: $gallery-thumbs-height * 1px;
  overflow: visible;
  overflow-x: clip;

  @media (width < $laptop-width) {
    display: none;
  }
}

.gallery__swiper--thumbs-has-title {
  @media (width >= $laptop-width) {
    padding-bottom: 40px;
  }
}

.gallery__swiper-thumb {
  position: relative;

  flex-direction: column;
  height: $gallery-thumbs-height * 1px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: background-color 0.3s ease;
  }

  &:hover {
    &::after {
      background-color: rgb(230 47 67 / 15%);
    }

    & .gallery__thumb-title {
      display: block;

      opacity: 0.6;
    }
  }
}

.gallery__swiper-thumb-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__thumb-title {
  position: absolute;
  top: calc(100% + 5px);

  display: none;
  max-width: 100%;
  max-height: 40px;
  overflow: hidden;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-overflow: ellipsis;
}

.swiper-slide-thumb-active .gallery__thumb-title {
  display: block;
}

.gallery__swiper-button {
  position: absolute;
  // bottom: $gallery-thumbs-height * 0.5px;
  top: 50%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;

  background-color: $white-color;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;

  & .gallery__swiper-button-icon {
    transition: fill 0.3s ease;

    fill: $secondary-color;
  }

  &:hover {
    background-color: $secondary-color;

    & .gallery__swiper-button-icon {
      fill: $white-color;
    }
  }

  &:focus-visible {
    // border-color: $button-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.gallery__swiper-button--prev {
  left: 0;

  transform: translateY(-50%) rotate(180deg);
}

.gallery__swiper-button--next {
  right: 0;

  transform: translateY(-50%);
}

.gallery__swiper-button--lock,
.gallery__swiper-button--disabled {
  visibility: hidden;
}

.gallery__swiper--with-buttons-in-thumbs {
  @media (width >= $laptop-width) {
    padding-right: 50px;
    padding-left: 50px;
  }
  @media (width >= $desktop-width) {
    padding-right: 65px;
    padding-left: 65px;
  }
}

@media (width >= $laptop-width) {
  .gallery__swiper-button--in-thumbs.gallery__swiper-button {
    top: initial;
    bottom: 40px;

    width: 50px;
    height: 100px;

    background-color: $secondary-color;
    transform: none;

    @media (width >= $desktop-width) {
      width: 65px;
    }

    & .gallery__swiper-button-icon {
      fill: $white-color;
    }

    &:hover {
      background-color: $white-color;

      & .gallery__swiper-button-icon {
        fill: $secondary-color;
      }
    }
  }

  .gallery__swiper-button--in-thumbs.gallery__swiper-button--prev {
    transform: rotate(180deg);
  }
}
