.get-card {
  padding-top: 50px;

  @media (width >= $tablet-width) {
    padding-bottom: 60px;

    background-color: $bg-color;
  }
  @media (width >= $laptop-width) {
    padding-top: 90px;
    padding-bottom: 75px;
  }
}

.get-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (width >= $semi-desktop-width) {
    margin-bottom: 50px;
  }
  @media (width >= $desktop-width) {
    margin-bottom: 70px;
  }
}

.get-card__title {
  margin-bottom: 0;

  @media (width >= $tablet-width) {
    max-width: 60%;
  }
}

.get-card__read-more-button {
  align-self: flex-start;
  max-width: 330px;

  @media (width < $tablet-width) {
    display: none;
  }
  @media (width >= $desktop-width) {
    margin: auto 0;
  }
}

.get-card__main {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @media (width >= $semi-desktop-width) {
    display: grid;

    gap: 20px;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(4, auto);
  }
}

.get-card__about {
  display: flex;
  flex-direction: column;

  gap: 50px;

  @media (width >= $tablet-width) {
    flex-direction: row;
    padding: 45px 25px 65px 40px;

    background-color: $white-color;

    gap: 20px;
  }
  @media (width >= $laptop-width) {
    padding: 45px 25px 65px 40px;

    gap: 60px;
  }
  @media (width >= $semi-desktop-width) {
    flex-direction: column;
    padding: 65px 50px;
  }
}

.get-card__about-block {
  display: flex;
  flex-direction: column;
  max-width: 420px;

  gap: 22px;
}

.get-card__about-sub-title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 147.33%;
  font-family: $header-font;

  @media (width >= $laptop-width) {
    font-size: 25px;
  }
}

.get-card__about-timetable {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-left: 58px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;

    width: 42px;
    height: 42px;

    background-image: url("@img/icons/clock-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.get-card__about-timetable-line {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 140%;
}

.get-card__subcription {
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  @media (width < $tablet-width) {
    padding-top: 0;
  }
  @media (width >= $tablet-width) {
    padding: 27px 40px 35px;

    background-color: $white-color;
  }
}

.get-card__subscription-title {
  position: relative;

  max-width: 400px;
  margin-bottom: 0;
  padding-top: 55px;

  @media (width >= $laptop-width) {
    font-size: 35px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 42px;
    height: 43px;

    background-image: url("@img/icons/calendar-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.get-card__subscription-text {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 20px;
  line-height: 110%;

  @media (width >= $tablet-width) {
    margin-bottom: 15px;

    font-size: 25px;
    line-height: 125%;
  }
}

.get-card__subscription-price {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 25px;
  line-height: 36px;
  font-family: $jost-font;

  @media (width >= $tablet-width) {
    margin-bottom: 15px;

    font-size: 50px;
    line-height: 72px;
  }
}

.get-card__subscription-button {
  width: 295px;

  @media (width < $tablet-width) {
    width: 245px;
  }
}

.get-card__tariffs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: initial;
  margin-bottom: auto;

  @media (width >= $semi-desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
  }
}

.get-card__tariffs-buttons {
  padding: 15px 0;

  @media (width >= $tablet-width) {
    display: none;
  }
}

.get-card__list {
  @media (width >= $tablet-width) {
    display: grid;
    justify-content: space-between;

    column-gap: 40px;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  @media (width >= $laptop-width) {
    column-gap: 40px;

    row-gap: 40px;
  }
  @media (width >= $semi-desktop-width) {
    column-gap: 20px;

    row-gap: 20px;
  }
}

.get-card__list-item {
  width: min-content;

  @media (width >= $tablet-width) {
    width: 100%;
  }
}
