.gym-info {
  background-color: $bg-color;
}

.gym-info--other-trainings {
  padding: 50px 0;

  background-color: $white-color;

  @media (width >= $laptop-width) {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  @media (width >= $semi-desktop-width) {
    padding-top: 115px;
  }
  @media (width >= $desktop-width) {
    padding-top: 90px;
    padding-bottom: 130px;
  }
}

.gym-info__title {
  @media (width >= $desktop-width) {
    margin-bottom: 45px;
  }
}

.gym-info__tabs {
  display: flex;
  flex-direction: column;
}

.gym-info__tabs-header-container {
  @media (width >= $desktop-width) {
    max-width: 1920px;
    padding-right: 0;
    padding-left: 0;
  }
}

.gym-info__tabs-content-container {
  @media (width >= $desktop-width) {
    max-width: 1920px;
    padding-right: 0;
    padding-left: clamp($desktop-paddings, calc((100% - $desktop-width) / 2 + $desktop-paddings), calc((1920px - $desktop-width) / 2 + $desktop-paddings));
  }
}

.gym-info__tabs-header {
  background-color: #1f1f1f;
}

.gym-info__nav {
  display: flex;
  overflow: -moz-scrollbars-none; // Firefox
  overflow-x: auto;

  @include make-negative-paddings;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  @media (width >= $laptop-width) {
    display: grid;

    grid-template-columns: repeat(7, 1fr);
  }
}

.gym-info__nav-item {
  position: relative;
}

.gym-info__nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 80px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: $header-font;
  text-align: center;
  color: $gym-info-white-color;
  text-decoration: none;
  word-spacing: 100vw; // делает перенос строки после каждого слова

  border-right: 1px  solid rgb(242 242 242 / 26%);

  gap: 7px;

  & .gym-info__nav-link-icon {
    fill: $gym-info-white-color;

    @media (width < $laptop-width) {
      display: none;
    }
  }

  &:hover {
    background-color: $secondary-color;
    border-right-color: transparent;
  }

  &:active {
    opacity: 0.7;
  }

  @media (width >= $laptop-width) {
    width: 100%;
    height: 144px;
    padding: 20px 15px;
  }
  @media (width >= $desktop-width) {
    padding: 20px 50px;

    font-size: 20px;
    line-height: 26px;
  }
}

.gym-info__nav-link.active {
  color: $font-default;

  background-color: $bg-color;

  & .gym-info__nav-link-icon {
    fill: $font-default;
  }
}

.gym-info__nav-item:last-child .gym-info__nav-link {
  border-right-color: transparent;
}

.gym-info__tabs-content {
  padding-top: 22px;

  background-color: transparent;

  @media (width >= $laptop-width) {
    padding-top: 60px;
  }
  @media (width >= $desktop-width) {
    padding-top: 0;
  }
}

.gym-info__panel-wrapper {
  display: grid;

  @media (width >= $tablet-width) {
    gap: 20px;
    grid-template-columns: 32% calc(68% - 20px);
  }
  @media (width >= $laptop-width) {
    gap: 50px;
    grid-template-columns: 32% calc(68% - 50px);
  }
  @media (width >= $desktop-width) {
    gap: 75px;
    grid-template-columns: 530px calc(100% - 530px - 75px);
  }
  @media (width < $tablet-width) {
    display: flex;
    flex-direction: column;

    gap: 15px;
  }
}

.gym-info__panel-main {
  position: relative;
  z-index: 1;
  @media (width >= $tablet-width) {
    padding-bottom: 55px;
  }
  @media (width >= $desktop-width) {
    padding-top: 110px;
  }
}

.gym-info__panel-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  font-family: $header-font;

  @media (width >= $laptop-width) {
    font-size: 35px;
    line-height: 42px;
  }
  @media (width >= $desktop-width) {
    font-size: 40px;
    line-height: 51px;
  }

  & > span {
    color: $secondary-color;
  }
}

.gym-info__panel-list {
  max-width: 320px;
  margin-bottom: 20px;

  @media (width >= $laptop-width) {
    margin-bottom: 25px;
  }
}
.gym-info__panel-logos {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  margin-bottom: 20px;

  @media (width >= $laptop-width) {
    margin-bottom: 25px;
  }
}
.gym-info__panel-text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 16px;
  line-height: 130%;
  max-width: 370px;

  @media (width >= $laptop-width) {
    margin-bottom: 25px;
    font-size: 18px;
  }
}

.gym-info__panel-buttons {
  display: flex;
  flex-direction: column;
  max-width: 250px;

  gap: 10px;

  @media (width >= $laptop-width) {
    max-width: 273px;
  }
  @media (width >= $desktop-width) {
    max-width: 302px;
  }
}

.gym-info__bg-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: $header-font;
  font-size: 450px;
  line-height: 100%;
  color: transparentize($secondary-color, 0.96);
  text-transform: uppercase;
  transform: translate(-152px, 50px);
  z-index: -1;
  cursor: default;

  @media (width < $laptop-width) {
    display: none;
  }
}

.gym-info--other-trainings {
  & .gym-info__nav-link.active {
    background-color: $white-color;
  }
}
