.gym-walk {
  padding: 50px 0;

  @media (width >= $laptop-width) {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  @media (width >= $semi-desktop-width) {
    padding-top: 115px;
  }
  @media (width >= $desktop-width) {
    padding-top: 90px;
    padding-bottom: 100px;

    background-color: $white-color;
  }
}
