.journal-card {
  position: relative;

  min-width: 308px;
  height: 100%;
  min-height: 328px;
  z-index: 1;

  @media (width >= $tablet-width) {
    min-width: 400px;
  }
  @media (width >= $semi-desktop-width) {
    min-height: 385px;
  }
  @media (width >= $desktop-width) {
    min-height: 397px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: transparentize(#000000, 0.3);
  }
}

.journal-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 13px;

  border: 1px solid transparent;

  transition: background-color 0.3s ease;

  @media (width >= $laptop-width) {
    padding: 30px;
  }
}

.journal-card__date {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 14px;
  line-height: 130%;
  color: $bg-color;

  transition: color 0.3s ease;
}

.journal-card__logos {
  position: relative;
  margin-bottom: 15px;
}

.journal-card__logo {
  max-width: 95%;
  max-height: 100px;
}

.journal-card__logo--hovered {
  position: absolute;
  top: 0;
  left: 0;
  filter: invert(1) grayscale(.5);

  opacity: 0;
}

.journal-card__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 600;
  font-size: 17px;
  line-height: 124%;
  font-family: $header-font;
  color: $white-color;

  transition: color 0.3s ease;

  @media (width >= $laptop-width) {
    font-size: 18px;
  }
  @media (width >= $semi-desktop-width) {
    font-size: 22px;
  }

  &--big {
    font-weight: 400;
    font-size: 20px;
    @media (width >= $laptop-width) {
      font-size: 25px;
    }
    @media (width >= $desktop-width) {
      font-size: 30px;
    }
  }
}

.journal-card__hidden-content {
  display: flex;
  flex-direction: column;

  transition: opacity 0.3s ease;

  @media (width >= $laptop-width) {
    opacity: 0;
  }
}

.journal-card__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 15px;
  line-height: 130%;
  color: $bg-color;

  transition: color 0.3s ease;
}
.journal-card__price {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: $jost-font;
  font-weight: 500;
  font-size: 35px;
  line-height: 140%;
  color: $white-color;

  @media (width >= $desktop-width) {
    font-size: 45px;
  }

  @media (width >= $desktop-width) {
    font-size: 60px;
  }

}

.journal-card__views-wrapper {
  display: flex;
  align-items: center;

  gap: 12px;
}

.journal-card__views {
  display: flex;
  align-items: center;

  gap: 5px;

  &::before {
    content: "";

    width: 18px;
    height: 12px;

    background-image: url("@img/icons/views-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-2px);
  }
}

.journal-card__views--comments {
  gap: 5px;

  &::before {
    width: 14px;
    height: 11px;

    background-image: url("@img/icons/comments-icon.svg");
    transform: translateY(-1px);
  }
}

.journal-card__views-cnt {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: $bg-color;

  transition: color 0.3s ease;
}

.journal-card__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.journal-card__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  &:focus-visible {
    outline: 3px solid $secondary-color;
    outline-offset: -3px;
  }
}

.journal-card {
  transition: all 0.3s ease;

  &:hover {
    @media (width >= $laptop-width) {
      & .journal-card__content {
        background-color: $white-color;
        border-color: rgb(228 23 46 / 40%);
      }

      & .journal-card__hidden-content {
        opacity: 1;
      }

      & .journal-card__date,
      & .journal-card__title,
      & .journal-card__text,
      & .journal-card__views-cnt,
      & .journal-card__price {
        color: $primary-color;
      }

      & .journal-card__logo {
        opacity: 0;
      }

      & .journal-card__logo--hovered {
        opacity: 1;
      }
    }
  }

  &:active {
    opacity: 0.5;
  }
}
