.journal-card {
  position: relative;
  background-color: transparentize(#000, 0.3);
  min-width: 308px;
  min-height: 328px;
  height: 100%;

  @media (width >= $tablet-width) {
    min-width: 400px;
  }

  @media (width >= $semi-desktop-width) {
    min-height: 385px;
  }
  @media (width >= $desktop-width) {
    min-height: 397px;
  }
}
.journal-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 30px 13px;
  transition: background-color 0.3s ease;
  border: 1px solid transparent;

  @media (width >= $laptop-width) {
    padding: 30px;
  }
}
.journal-card__date {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 14px;
  line-height: 130%;
  color: $bg-color;
  transition: color 0.3s ease;

}
.journal-card__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: $header-font;
  font-weight: 600;
  font-size: 17px;
  line-height: 124%;
  color: $white-color;
  transition: color 0.3s ease;

  @media (width >= $laptop-width) {
    font-size: 18px;
  }
  @media (width >= $semi-desktop-width) {
    font-size: 22px;
  }
}
.journal-card__hidden-content {
  display: flex;
  flex-direction: column;

  transition: opacity 0.3s ease;
  @media (width >= $laptop-width) {
    opacity: 0;
  }
}
.journal-card__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: $bg-color;
  font-size: 15px;
  line-height: 130%;
  transition: color 0.3s ease;
}
.journal-card__views-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.journal-card__views {
  display: flex;
  align-items: center;
  gap: 5px;

  &::before {
    content: "";
    width: 18px;
    height: 12px;
    background-image: url("@img/icons/views-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-2px);
  }
}
.journal-card__views--comments {
  gap: 5px;
  &::before {
    transform: translateY(-1px);
    width: 14px;
    height: 11px;
    background-image: url("@img/icons/comments-icon.svg");
  }
}
.journal-card__views-cnt {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: $bg-color;
  transition: color 0.3s ease;
}

.journal-card__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.journal-card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &:focus-visible {
    outline: 3px solid $secondary-color;
    outline-offset: -3px;
  }
}
.journal-card {
  transition: all 0.3s ease;
  &:hover {
    @media (width >= $laptop-width) {
      & .journal-card__content {
        background-color: $white-color;
        border-color: rgba(228, 23, 46, 0.4);
      }
      & .journal-card__hidden-content {
        opacity: 1;
      }
      & .journal-card__date {
        color: $primary-color;
      }
      & .journal-card__title {
        color: $primary-color;
      }
      & .journal-card__text {
        color: $primary-color;
      }
      & .journal-card__views-cnt {
        color: $primary-color;
      }
    }
  }
  &:active {
    opacity: 0.5;
  }
}
