.list {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @media (width >= $laptop-width) {
    gap: 17px;
  }
}

.list__item {
  position: relative;

  padding-left: 32px;

  font-size: 16px;
  line-height: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;

    width: 21px;
    height: 5px;

    background-color: $secondary-color;
  }

  @media (width >= $laptop-width) {
    font-size: 18px;
    line-height: 23px;
  }
}
.list__item-image {
  display: inline-block;
}
