.menu {
  position: fixed;
  top: 52px;
  right: 0;
  bottom: 0;
  z-index: 999;

  display: block;
  width: 100%;
  overflow-y: scroll;

  background-color: $white-color;
  transform: translateX(100%);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  transition-property: transform;

  scrollbar-width: none;

  @media (width >= $laptop-width) {
    top: 87px;

    width: 457px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.menu--opened {
  box-shadow: -50px 0 35px rgba(#000000, 0.2);
  transform: translateX(0);
}

.menu__list {
  position: relative;
}

.menu__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 22px;

  font-size: 15px;
  line-height: 18px;
  font-family: $header-font;
  color: $font-default;
  text-decoration: none;

  background-color: $white-color;
  border-bottom: 1px solid rgb(41 43 48 / 25%);
  cursor: pointer;

  transition: all ease 0.3s;

  gap: 15px;

  @media (width >= $laptop-width) {
    padding-left: 70px;

    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    color: $white-color;

    background-color: $secondary-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.menu__link--has-sub {
  &::after {
    content: "";

    width: 12px;
    height: 19px;

    background-image: url("@img/icons/menu-back-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }
}

.menu__sub {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;

  background-color: $white-color;
}

.menu__sub--active {
  display: block;

  transform: translateX(0);
}

.menu__back-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 15px 22px;

  font-size: 15px;
  line-height: 18px;
  font-family: $header-font;
  color: $font-default;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(41 43 48 / 25%);
  cursor: pointer;

  gap: 15px;

  @media (width >= $laptop-width) {
    padding-left: 70px;

    font-size: 16px;
    line-height: 19px;
  }

  &::before {
    content: "";

    width: 12px;
    height: 19px;

    background-image: url("@img/icons/menu-back-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    opacity: 0.7;
  }
}

.menu__footer {
  display: flex;
  flex-direction: column;
  padding: 30px 22px;

  color: $font-default;

  @media (width < $laptop-width) {
    padding-bottom: 0;
  }
  @media (width >= $laptop-width) {
    padding-left: 70px;
  }
}

.menu__contacts {
  display: flex;
  flex-direction: column;

  @media (width < $laptop-width) {
    margin-bottom: 15px;
  }
}

.menu__contacts-header {
  font-size: 18px;
  line-height: 26px;
  font-family: $header-font;
}

.menu__phone-wrapper {
  display: flex;
  align-items: center;

  gap: 5px;

  @media (width < $laptop-width) {
    flex-direction: column;
    align-items: initial;

    gap: 0;
  }
}

.menu__phone {
  font-size: 30px;
  line-height: 44px;
  color: inherit;
  text-decoration: none;

  @media (width >= $laptop-width) {
    font-size: 35px;
    line-height: 52px;
  }
}

.menu__messengers {
  display: flex;
  align-items: center;
  margin-top: -5px;

  gap: 3px;
}

.menu__backcall-button {
  @media (width < $laptop-width) {
    margin-right: -22px;
    margin-left: -22px;
  }
  @media (width < $laptop-width) {
    order: 99;
  }
  @media (width >= $laptop-width) {
    max-width: 250px;
    margin-bottom: 30px;
  }
}

.menu__address {
  display: flex;
  margin-bottom: 25px;

  @media (width < $laptop-width) {
    flex-direction: column;

    gap: 10px;
  }
}

.menu__address-wrapper {
  display: flex;
  flex-direction: column;

  @media (width >= $laptop-width) {
    gap: 7px;
  }

  &::after {
    @media (width >= $laptop-width) {
      content: "";

      display: block;
      width: 34px;
      height: 4px;
      margin-top: auto;

      background-color: $secondary-color;
    }
  }
}

.menu__address-wrapper--address {
  max-width: 160px;
}

.menu__address-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: $header-font;
}

.menu__address-text {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 23px;
}

.menu__social {
  display: flex;

  gap: 5px;

  @media (width < $laptop-width) {
    margin-bottom: 35px;
  }
}
