.mini-info {
  height: 100%;
  padding: 15px 10px;

  background-color: $bg-color;

  container-name: mini_info_card;
  container-type: inline-size;

  @media (width >= $tablet-width) {
    padding: 30px 35px;

    background-color: $white-color;
  }
}

.mini-info__content {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  line-height: 21px;

  gap: 17px;

  @media (width >= $laptop-width) {
    font-size: 18px;
    line-height: 23px;
  }
}

.mini-info__icon {
  flex-shrink: 0;
  align-self: flex-start;

  // max-width: 80px;
  height: 45px;
  overflow: hidden;

  justify-self: flex-start;
  object-fit: contain;
}

.mini-info__main {
  display: flex;
  flex-direction: column;
}

.mini-info__text {
  margin: 0;
  padding: 0;
}

span.mini-info__text {
  font-weight: 700;
}

.mini-info__item {
  position: relative;

  padding-left: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;

    width: 3px;
    height: 3px;

    background-color: $font-default;
    border-radius: 50%;
  }
}

@container mini_info_card (width > 375px) {
  .mini-info__content {
    flex-direction: row;
  }
}

.mini-info--always-column {
  .mini-info__content {
    flex-direction: column;
  }
}
