.news-card {
  width: 100%;
  min-width: 308px;
  max-width: 400px;
  height: 333px;
  padding: 15px;

  background-color: $white-color;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 5px;

    background-color: $secondary-color;
    opacity: 0;

    transition: opacity 0.4s ease;
  }

  &:hover {
    &::after {
      @media (width >= $laptop-width) {
        opacity: 1;
      }
    }
  }

  &:active {
    opacity: 0.7;
  }

  @media (width >= $laptop-width) {
    padding: 16px;
  }
  @media (width >= $semi-desktop-width) {
    height: 390px;
    padding: 17px 19px;
  }
}

.news-card__content {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.news-card__image-wrapper {
  width: 100%;
  height: 162px;

  @media (width >= $semi-desktop-width) {
    height: 190px;
  }
}

.news-card__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.news-card__date {
  margin: 0;
  padding: 0;

  font-size: 10px;
  line-height: 15px;

  @media (width >= $semi-desktop-width) {
    font-size: 12px;
    line-height: 18px;
  }
}

.news-card__preview-text {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-size: 13px;
  line-height: 130%;
  font-family: $header-font;
  text-overflow: ellipsis;

  @media (width >= $semi-desktop-width) {
    font-size: 16px;
  }
}

.news-card__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid $secondary-color;
    outline-offset: -2px;
  }
}
