.news {
  padding: 40px 0;

  background-color: $bg-color;

  @media (width >= $laptop-width) {
    padding-top: 50px;
    padding-bottom: 85px;
  }
  @media (width >= $desktop-width) {
    padding-bottom: 130px;
  }
}
