.news {
  padding: 40px 0;

  @media (width >= $laptop-width) {
    padding-top: 0;
    padding-bottom: 85px;
  }
  @media (width >= $desktop-width) {
    padding-bottom: 130px;
  }
}

.news--carousel {
  background-color: $bg-color2;

  @media (width >= $laptop-width) {
    padding-top: 50px;
  }
}

.news__title {
  @media (width >= $laptop-width) {
    margin-bottom: 60px;
  }
}

.news__filters-form {
  margin-bottom: 20px;

  @media (width >= $laptop-width) {
    margin-bottom: 35px;
  }
}

.news__filters-form-label {
  width: fit-content;
  min-width: 275px;
}

.news__cards-list {
  display: flex;
  flex-direction: column;

  gap: 15px;

  @media (width >= $tablet-width) {
    display: grid;

    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(308px, max-content));
  }
  @media (width >= $laptop-width) {
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
  }
}

.news__cards-item--hidden {
  display: none;
}
