.page-footer {
  flex-shrink: 0;
  padding-top: 25px;
  overflow: hidden;

  background-color: #05090a;

  @media (width >= $laptop-width) {
    padding-top: 32px;
  }
  @media (width >= $desktop-width) {
    padding-top: 38px;
  }
}

.page-footer__main {
  position: relative;

  display: flex;
  width: 100%;
  min-height: 280px;

  @media (width < $laptop-width) {
    flex-direction: column;
    margin-bottom: 50px;
  }
  @media (width < $desktop-width) {
    margin-bottom: 20px;
  }
}

.page-footer__main-wrapper {
  display: flex;
  flex-direction: column;

  @media (width >= $desktop-width) {
    flex-direction: row;
  }
  @media (width >= $laptop-width) {
    max-width: calc(100% - 220px);
  }
}

.page-footer__logos {
  display: flex;
  flex-direction: column;

  gap: 5px;

  @media (width >= $desktop-width) {
    margin-right: 75px;
  }
  @media ($laptop-width <= width < $desktop-width) {
    margin-bottom: 25px;
  }
  @media (width < $laptop-width) {
    margin-bottom: 15px;
  }
}

.page-footer__logo {
  display: flex;
  max-width: 132px;
  max-height: 57px;

  @media (width >= $laptop-width) {
    max-width: 146px;
    max-height: 63px;
  }
  @media (width >= $desktop-width) {
    max-width: 169px;
    max-height: 73px;
  }
}

.page-footer__logo-image {
  flex-grow: 1;

  object-fit: contain;
}

.page-footer__logo-addr {
  display: flex;
  flex-direction: column;

  color: $bg-color;
}

.page-footer__logo-addr-city {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-family: $header-font;

  @media (width >= $laptop-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.page-footer__logo-addr-street {
  font-size: 12px;
  line-height: 16px;

  @media (width >= $laptop-width) {
    font-size: 14px;
    line-height: 18px;
  }
}

.page-footer__nav {
  display: flex;

  gap: 30px;

  @media (width < $laptop-width) {
    flex-direction: column;
    margin-bottom: 20px;

    gap: 25px;
  }
  @media (width >= $desktop-width) {
    margin-right: 115px;
  }
  @media ($laptop-width <= width < $desktop-width) {
    margin-bottom: 60px;
  }
}

.page-footer__nav-list {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.page-footer__link {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  color: $white-color;
  text-decoration: none;

  opacity: 0.8;

  transition: 0.3s ease;
  transition-property: color, opacity;

  gap: 5px;

  &:hover {
    color: $secondary-color;

    & .page-footer__link-icon {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.5;

    & .page-footer__link-icon {
      opacity: 0.7;
    }
  }
}

.page-footer__download {
  display: flex;
  flex-direction: column;

  @media (width < $desktop-width) {
    flex-direction: row;

    gap: 23px;
  }
  @media (width < $tablet-width) {
    flex-direction: column;

    gap: 9px;
  }
}

.page-footer__download-title {
  font-size: 16px;
  line-height: 24px;
  color: $white-color;
}

.page-footer__download-list {
  display: flex;
  flex-direction: column;

  gap: 7px;

  @media (width < $desktop-width) {
    flex-direction: row;

    gap: 23px;
  }
}

.page-footer__download-link {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  color: $white-color;
  text-decoration: none;

  transition: 0.3s ease;
  transition-property: color, opacity;

  gap: 4px;

  & .page-footer__download-link-icon {
    transition: all 0.3s ease;

    fill: $white-color;
  }

  &:hover {
    color: $secondary-color;

    & .page-footer__download-link-icon {
      fill: $secondary-color;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  @media (width >= $laptop-width) {
    position: absolute;
    top: 0;
    right: 0;

    align-items: flex-end;
  }
}

.page-footer__phone-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  gap: 10px;

  @media (width >= $laptop-width) {
    flex-direction: column;

    gap: 0;
  }
  @media (width >= $desktop-width) {
    flex-direction: row;

    gap: 10px;
  }
}

.page-footer__messengers {
  display: flex;

  gap: 3px;

  @media (width < $desktop-width) {
    order: 99;
    margin-left: auto;
  }
  @media (width < $laptop-width) {
    margin-left: initial;
  }
}

.page-footer__phone {
  font-size: 25px;
  line-height: 37px;
  color: $bg-color;
  text-decoration: none;

  transition: 0.3s ease;
  transition-property: color, opacity;

  &:hover {
    color: $secondary-color;
  }

  &:focus-visible {
    outline: 1px solid $white-color;
  }

  &:active {
    opacity: 0.5;
  }

  @media (width >= $laptop-width) {
    font-size: 30px;
    line-height: 44px;
  }
}

.page-footer__backcall-button {
  width: 250px;
  margin-bottom: 17px;

  @media (width >= $laptop-width) {
    align-self: flex-end;
    margin-bottom: 25px;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: column;

  gap: 3px;


  @media (width >= $laptop-width) {
    align-items: flex-end;
  }
}

.page-footer__social-title {
  display: block;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: $header-font;
  text-align: right;
  color: $bg-color;

  @media (width >= $laptop-width) {
    font-size: 18px;
  }
  @media (width < $laptop-width) {
    text-align: left;
  }
}

.page-footer__social-wrapper {
  display: flex;
  flex-wrap: wrap;

  gap: 5px;
}

.page-footer__other {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 0 35px;

  gap: 10px;
}

.page-footer__other-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  @media (width < $tablet-width) {
    flex-direction: column;

    gap: 6px;
  }
}

.page-footer__other-link {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 21px;
  color: $white-color;
  text-decoration: none;

  opacity: 0.6;

  transition: 0.3s ease;
  transition-property: color, opacity;

  gap: 10px;

  & .page-footer__other-link-icon {
    transition: all 0.3s ease;

    fill: $white-color;
  }

  &:hover {
    color: $secondary-color;

    & .page-footer__other-link-icon {
      fill: $secondary-color;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__dev {
  display: flex;
  align-items: flex-end;

  gap: 5px;
}

.page-footer__dev-title {
  font-size: 14px;
  line-height: 21px;
  color: $white-color;
}

.page-footer__dev-link {
  text-decoration: none;

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
