.page {
  height: 100%;
}

.page__body {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  height: 100%;
  margin: 0 auto;

  font-size: 16px;
  line-height: 19px;
  font-family: $main-font;
  color: $font-default;

  @media (width >= $laptop-width) {
    background-color: $bg-color2;
  }
}

.menu-opened {
  @media (width < $laptop-width) {
    & .page-main {
      display: none;
    }

    & .page-footer {
      display: none;
    }
  }
}

.page__body-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: 52px;
  overflow-x: clip;

  @media (width >= $laptop-width) {
    padding-top: 87px;
  }
}

.modal-opened {
  overflow: hidden;
}

.page__title {
  display: block;
  max-width: 80%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  font-family: $header-font;

  @media (width >= $laptop-width) {
    margin-bottom: 50px;

    font-size: 60px;
  }
}
.page__title--light {
  @media (width >= $laptop-width) {
    color: $bg-color;
  }
}
