$page-header-paddigns: 7px;

.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;

  color: $bg-color;

  background-color: $page-header-bg;

  @media (width >= $laptop-width) {
    min-height: 87px;
  }
}

.page-header--searchbar-opened {
  @media (width < $laptop-width) {
    height: 100%;
  }
}

.page-header__container {
  display: flex;
  flex-direction: column;
  padding-top: $page-header-paddigns;
  padding-bottom: $page-header-paddigns;

  @media (width >= $laptop-width) {
    flex-grow: 1;
  }
}

.page-header__row {
  display: flex;
  flex-grow: 1;
}

.page-header__logos {
  display: flex;
  align-items: center;

  gap: 10px;

  @media (width < $desktop-width) {
    gap: 30px;
  }
}

.page-header__logo {
  min-width: 101px;
}

.page-header__logo--lesmills {
  min-width: 97px;

  @media (width < $tablet-width) {
    display: none;
  }
  @media (width >= $desktop-width) {
    margin-left: 30px;
  }
}

.page-header__logo-addr {
  display: flex;
  flex-direction: column;

  @media (width < $desktop-width) {
    display: none;
  }
}

.page-header__logo-addr-city {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.page-header__logo-addr-street {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  opacity: 0.88;
}

.page-header__nav {
  display: flex;
  margin-left: auto;

  @media (width < $desktop-width) {
    margin-left: auto;
    padding-left: 10px;
  }
  @media (width >= $laptop-width) {
    & > *:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -$page-header-paddigns;
        right: 0;
        bottom: -$page-header-paddigns;

        width: 1px;

        background-color: $white-color;
        opacity: 0.25;
      }
    }
  }
}

.page-header__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 340px;
  padding: 0 20px;

  gap: 12px;

  @media (width < $laptop-width) {
    display: none;
  }
  @media (width >= $semi-desktop-width) {
    padding: 0 30px;
  }
  @media (width >= $desktop-width) {
    padding: 0 50px;

    gap: 22px;
  }
}

.page-header__nav-list-item {
  height: 100%;

  &--has-dropdown {
    position: relative;
  }
}

.page-header__nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px 0;

  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  font-family: $header-font;
  color: $bg-color;
  text-transform: uppercase;
  text-decoration: none;

  transition: opacity, color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }

  @media (width >= $desktop-width) {
    font-size: 15px;
    line-height: 17px;
  }
}

.page-header__nav-link--has-dropdown {
  display: flex;

  gap: 5px;

  & .page-header__nav-link-dropdwon-icon {
    transition: fill 0.3s ease;

    fill: $bg-color;
  }

  &:hover {
    & .page-header__nav-link-dropdwon-icon {
      fill: $secondary-color;
    }
  }
}

.page-header__nav-list-item--has-dropdown:hover,
.page-header__nav-list-item--has-dropdown:focus-within {
  & .page-header__nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    display: block;
    padding-top: $page-header-paddigns;
  }
}

.page-header__nav-dropdown {
  display: none;

  border: 1px solid rgb(41 43 48 / 25%);
  border-top: none;
}

.page-header__nav-dropdown-list {
  display: flex;
  flex-direction: column;
}

.page-header__nav-dropdown-list-item + .page-header__nav-dropdown-list-item {
  border-top: 1px solid rgb(41 43 48 / 25%);
}

.page-header__nav-dropdown-link {
  // z-index: 1;
  display: block;
  min-width: 400px;
  padding: 15px 70px;

  font-size: 16px;
  line-height: 19px;
  font-family: $header-font;
  color: $font-default;
  text-decoration: none;

  background-color: $white-color;
  border: 1px solid transparent;

  transition: all 0.3s ease;

  &:hover {
    color: $white-color;

    background-color: $secondary-color;
  }

  &:focus-visible {
    border: 1px solid $secondary-color;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-header__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 7px;

  gap: 8px;

  @media (width >= $laptop-width) {
    padding: 0 15px;
  }
  @media (width < $laptop-width + 200px) {
    max-width: min-content;
  }
  @media (width >= $desktop-width) {
    max-width: initial;
    padding: 0 25px;
  }
}

.page-header__messengers {
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;

  gap: 3px;

  @media (width < $desktop-width) {
    order: 1;
    margin: 0 auto;
  }
  @media (width < $laptop-width) {
    display: none;
  }
}

.page-header__phone {
  display: flex;
  min-width: max-content;

  font-size: 20px;
  line-height: 23px;
  font-family: $header-font;
  color: $white-color;
  text-decoration: none;

  transition: 0.3s ease;
  transition-property: color, opacity;

  @media (width >= $desktop-width) {
    font-size: 22px;
    line-height: 25px;
  }

  &:hover {
    color: $secondary-color;
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid $white-color;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.7;
  }

  & span {
    @media (width < $laptop-width) {
      display: none;
    }
  }
}

.page-header__phone-icon {
  @media (width >= $laptop-width) {
    display: none;
  }
}

.page-header__action-button {
  display: flex;
  align-items: center;
  margin: -$page-header-paddigns 0;
  padding: 0 7px;
  overflow: hidden;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: 0.3s ease;
  transition-property: background-color, opacity;

  &:hover {
    background-color: $secondary-color;
  }

  &:focus-visible {
    background-color: $secondary-color;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  @media (width >= $laptop-width) {
    padding: 0 15px;
  }
  @media (width >= $desktop-width) {
    padding: 0 30px;
  }
}

.page-header__timetable-button {
  display: flex;
  align-items: center;
  padding: 0 7px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:active {
    opacity: 0.7;
  }

  @media (width >= $laptop-width) {
    display: none;
  }
}

.page-header__action-button-icon {
  fill: $white-color;
}

.page-header__burger {
  padding-left: 7px;

  @media (width >= $laptop-width) {
    margin-left: 15px;
  }
  @media (width >= $desktop-width) {
    margin-left: 23px;
  }
}
