.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  height: 100%;
  margin: 0 auto;

  font-size: 16px;
  line-height: 19px;
  font-family: $main-font;
  color: $font-default;
}

.menu-opened {
  @media (width < $laptop-width) {
    & .page-main {
      display: none;
    }

    & .page-footer {
      display: none;
    }
  }
}
.page__body-wrapper {
  overflow-x: hidden;
  height: 100%;
}

.modal-opened {
  overflow: hidden;
}
