.programs {
  margin-bottom: 110px;

  @media (width < $laptop-width) {
    padding-top: 45px;
  }
}

.programs__content {
  display: flex;
  flex-direction: column;
}

.programs__tabs {
  display: flex;
  flex-direction: column;
}

.programs__tabs-list {
  display: flex;
  max-width: 100%;
  margin-bottom: 20px;
  overflow: -moz-scrollbars-none; // Firefox
  overflow-x: auto;

  @media (width >= $laptop-width) {
    margin-bottom: 45px;
  }

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

.programs__tabs-item + .programs__tabs-item {
  margin-left: -1px;
}

.programs__tabs-button {
  padding: 17px 45px;

  font-size: 15px;
  line-height: 17px;
  white-space: nowrap;

  @media (width >= $laptop-width) {
    padding: 17px 51px;
  }
}

.programs__tabs-button.active {
  color: $white-color;

  background-color: $secondary-color;
}


.programs__panel-title {
  margin-bottom: 25px;

  @media (width >= $desktop-width) {
    margin-bottom: 30px;
  }
}

.programs__panel-list {
  margin-bottom: 20px;

  gap: 20px;

  @media (width >= $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (width >= $laptop-width) {
    margin-bottom: 55px;

    gap: 35px;
  }
  @media (width >= $semi-desktop-width) {
    margin-bottom: 55px;
  }
}

.programs__panel-list-item {
  @media (width >= $tablet-width) {
    max-width: 35%;
  }
  @media (width >= $desktop-width) {
    max-width: 30%;
  }
}

.programs__cards {
  display: flex;
  flex-direction: column;

  gap: 15px;

  @media (width >= 670px) {
    display: grid;

    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width >= $laptop-width) {
    gap: 35px;
  }
  @media (width >= $semi-desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (width >= $desktop-width) {
    gap: 30px;
  }
}
