.program-info-list {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @media (width >= $tablet-width) {
    display: grid;

    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width >= $laptop-width) {
    margin-top: -105px;

    gap: 38px;
    grid-template-columns: repeat(4, 1fr);
  }
  @media (width >= $semi-desktop-width) {
    margin-top: -170px;
  }
  @media (width >= $desktop-width) {
    margin-top: -130px;
  }
}

.program-info-list__item {
  @media (width >= $laptop-width) {
    min-height: 277px;
  }
}
