.program-card {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 308px;
  height: 100%;

  background-color: transparentize(#000000, 0.3);

  @media (width >= $laptop-width) {
    min-height: 580px;
  }
  @media (width < $laptop-width) {
    max-width: 510px;
    height: 230px;
  }
}

.program-card__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  padding: 42px 44px 25px;

  border: 1px solid transparent;

  transition: background-color 0.3s ease;

  @media (width < $tablet-width) {
    padding: 32px 25px;
  }
}

.program-card__header {
  position: relative;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.program-card__title {
  max-width: 80%;
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 35px;
  line-height: 130%;
  font-family: $header-font;
  color: $white-color;

  transition: color 0.3s ease;
}

.program-card__body {
  opacity: 0;

  @media (width >= $laptop-width) {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.program-card__logo {
  max-width: 95%;
  max-height: 100px;
}
.program-card__logo--hovered {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.program-card__description {
  max-width: 315px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 17px;
  line-height: 20px;
}

.program-card__list {
  margin-bottom: 15px;

  gap: 15px;
}

.program-card__duration {
  margin: 0;
  margin-top: auto;
  padding: 0;

  color: $secondary-color;
}

.program-card__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;

  @media (width < $laptop-width) {
    object-fit: none;
    object-position: top;
  }
}

.program-card__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  &:focus-visible {
    outline: none;
  }
}

.program-card {
  transition: all 0.3s ease;

  &:hover,
  &:focus-within {
    @media (width >= $laptop-width) {
      & .program-card__content {
        background-color: $white-color;
        border-color: rgb(228 23 46 / 40%);
      }

      & .program-card__title {
        color: $font-default;
      }

      & .program-card__body {
        opacity: 1;
      }

      & .program-card__logo {
        opacity: 0;
      }

      & .program-card__logo--hovered {
        opacity: 1;
      }
    }
  }

  &:active {
    opacity: 0.5;
  }
}
