.promos {
  @media (width >= $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: $bg-color2;
  }
  @media (width >= $laptop-width) {
    padding-top: 80px;
    padding-bottom: 55px;
  }
  @media (width >= $semi-desktop-width) {
    padding-top: 75px;
    padding-bottom: 120px;
  }
}


.promos__header {
  @media (width >= $desktop-width) {
    margin-bottom: 40px;
  }
}



.promos__swiper-buttons {
  @media (width >= $desktop-width) {
    transform: none;
  }
}
