.promo-card {
  position: relative;
  padding: 20px 30px;
  min-height: 208px;
  min-width: 308px;
  width: 100%;

  max-width: 523px;

  color: $bg-color;

  transition: background-color 0.3s ease;

  @media (width < $laptop-width) {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  @media (width >= $laptop-width) {
    height: 250px;
  }
  @media (width >= $semi-desktop-width) {
    height: 290px;
  }
  @media (width >= $desktop-width) {
    height: 350px;
  }
}
.promo-card__content {
  width: 90%;
}
.promo-card__expiry-date {
  margin: 0;
  margin-bottom: 7px;
  display: inline-flex;
  padding: 3px 6px;

  font-size: 10px;
  line-height: 145%;
  background-color: $secondary-color;

  @media (width >= $laptop-width) {
    padding: 4px 7px;
    font-size: 12px;
  }

  @media (width >= $desktop-width) {
    padding: 5px 10px;
    font-size: 17px;
  }
}
.promo-card__title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-family: $header-font;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;

  @media (width >= $semi-desktop-width) {
    margin-bottom: 10px;
    font-size: 20px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 13px;
    font-size: 25px;
  }
}
.promo-card__description {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 140%;
  transition: opacity 0.3s ease;

  @media (width >= $laptop-width) {
    opacity: 0;
    font-size: 15px;
  }

  @media (width >= $desktop-width) {
    font-size: 17px;
  }
}
.promo-card__back-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo-card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.promo-card {

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.3);
    & .promo-card__description {
      opacity: 1;
    }
  }
}
