.promo-card {
  position: relative;
  z-index: 1;

  width: 100%;
  min-width: 308px;
  max-width: 523px;
  min-height: 208px;
  padding: 20px 30px;

  color: $bg-color;

  container-name: promo-card;
  container-type: inline-size;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    transition: background-color 0.3s ease;
  }

  @media (width < $laptop-width) {
    &::after {
      background-color: transparentize(#000000, 0.7);
    }
  }
  @media (width >= $laptop-width) {
    height: 250px;
  }
  @media (width >= $semi-desktop-width) {
    height: 290px;
  }
  @media (width >= $desktop-width) {
    height: 350px;
  }
}

.promo-card__content {
  width: 90%;
}

.promo-card__expiry-date {
  display: inline-flex;
  margin: 0;
  margin-bottom: 7px;
  padding: 4px 6px 3px;

  font-size: 10px;
  line-height: 145%;

  background-color: $secondary-color;

  @media (width >= $laptop-width) {
    margin-bottom: 15px;
    padding: 6px 7px 5px;

    font-size: 12px;
  }
  @media (width >= $desktop-width) {
    padding: 6px 10px 5px;

    font-size: 17px;
  }
}

.promo-card__price {
  margin: 0;
  margin-bottom: -8px;
  padding: 0;

  font-size: 45px;
  line-height: 140%;
  font-family: $header-font;
}

.promo-card__title {
  max-width: 80%;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  font-family: $header-font;

  @media (width >= $semi-desktop-width) {
    margin-bottom: 10px;

    font-size: 20px;
  }
  @media (width >= $desktop-width) {
    margin-bottom: 13px;

    font-size: 25px;
  }
}

.promo-card__description {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 140%;

  transition: opacity 0.3s ease;

  @media (width >= $laptop-width) {
    font-size: 15px;

    opacity: 0;
  }
  @media (width >= $desktop-width) {
    font-size: 17px;
  }
}

.promo-card__back-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.promo-card__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  &:focus-visible {
    outline: 5px solid $secondary-color;
    outline-offset: -5px;
  }
}

.promo-card {
  &:hover {
    &::after {
      background-color: transparentize(#000000, 0.7);
    }

    & .promo-card__description {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

@container promo-card (width > 330px) {
  .promo-card__price {
    margin-bottom: -10px;

    font-size: 60px;
  }
}
