.searchbar {
  width: 100%;
  padding: 1px 0;

  background-color: #05090a;

  animation: showing-animation 0.5s ease;

  @media (width < $laptop-width) {
    flex-grow: 1;
  }
  @media (width >= $laptop-width) {
    position: absolute;
    top: 100%;

    border-top: 1px solid rgb(255 255 255 / 25%);
    border-bottom: 1px solid rgb(255 255 255 / 25%);
    border-radius: 2px;
  }
}

.searchbar--hidden {
  display: none;
}

.searchbar__container {
  height: 100%;
}

.searchbar__form {
  display: flex;
  width: 100%;

  gap: 10px;

  @media (width < $laptop-width) {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.searchbar__field {
  flex-grow: 1;
  max-height: 59px;
  padding: 16px 10px;

  font-size: 16px;
  line-height: 24px;
  font-family: $main-font;
  color: $bg-color;

  background-color: transparent;
  border: none;

  &::placeholder {
    color: $white-color;

    opacity: 0.7;
  }

  &:focus-visible {
    outline: none;
  }

  @media (width >= $laptop-width) {
    font-size: 18px;
    line-height: 27px;
  }
}

.searchbar__button {
  min-width: 216px;
  height: 59px;

  @media (width < $laptop-width) {
    margin-right: -$tablet-paddings;
    margin-left: -$tablet-paddings;
  }
}
