.section__swiper-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.section__header {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;

  @media (width < $tablet-width) {
    flex-direction: column;
    gap: 10px;
  }
  @media (width >= $tablet-width) {
    justify-content: space-between;
    align-items: center;
  }

  & .section__title {
    margin: 0;
  }
}
.section__swiper-buttons {
  display: flex;
  gap: 5px;
  // margin-bottom: 15px;

  @media (width >= $desktop-width - 2*$desktop-paddings + 2*$trainers-button-side-paddings) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -$trainers-button-side-paddings;
    right: -$trainers-button-side-paddings;
    justify-content: space-between;
  }
}
.section__swiper-button {

}
.section__swiper {
}
.section__swiper-slide {
  @media (width < $laptop-width) {
    width: min-content;
  }
}
