.section__content {
  position: relative;
}

.section__swiper-container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.section__header {
  display: flex;
  margin-bottom: 15px;

  gap: 25px;

  @media (width < $tablet-width) {
    flex-direction: column;

    gap: 10px;
  }
  @media (width >= $tablet-width) {
    justify-content: space-between;
    align-items: center;
  }
  @media (width >= $desktop-width) {
    margin-bottom: 35px;
  }

  & .section__title {
    margin: 0;
  }
}

.section__swiper-buttons {
  display: flex;
  margin-bottom: 20px;

  gap: 5px;

  @media (width >= $desktop-width - 2*$desktop-paddings + 2*$trainers-button-side-paddings) {
    position: absolute;
    top: 50%;
    right: -$trainers-button-side-paddings;
    left: -$trainers-button-side-paddings;

    justify-content: space-between;

    transform: translateY(-50%);
  }
}

.section__swiper-slide {
  @media (width < $laptop-width) {
    width: min-content;
  }
}

.section__tabs {
  display: flex;
  flex-direction: column;
}

.section__tabs-list {
  display: flex;
  max-width: 100%;
  margin-bottom: 10px;

  @media (width < $laptop-width) {
    overflow: -moz-scrollbars-none; // Firefox
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
  }
  @media (width >= $laptop-width) {
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
}

.section__tabs-item {
  margin-bottom: 10px;
}

.section__tabs-item + .section__tabs-item {
  margin-left: -1px;
}

.section__tabs-button {
  padding: 17px 45px;

  font-size: 15px;
  line-height: 17px;
  white-space: nowrap;

  &.active {
    color: $white-color;

    background-color: $secondary-color;
  }

  @media (width >= $laptop-width) {
    padding: 17px 51px;
  }
}
