.side-panel {
  display: none;

  @media (width >= $side-panel-available) {
    position: fixed;
    top: 129px;
    right: 30px;
    z-index: 10;

    flex-direction: column;
    width: 135px;
    min-height: 457px;
    padding: 25px 0;

    background-color: $secondary-color;

    gap: 21px;
  }
}

.side-panel--active {
  @media (width >= $side-panel-available) {
    display: flex;

    animation: showing-animation 0.5s;
  }
}

.side-panel__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  text-decoration: none;

  background: transparent;
  border: none;
  cursor: pointer;

  gap: 7px;
}



.side-panel__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;

  background-color: $white-color;
  border-radius: 50%;

  transition: background-color 0.3s ease;
}

.side-panel__button-icon {
  transition: fill 0.3s ease;

  fill: $secondary-color;
}

.side-panel__button-text {
  margin: 0;
  padding: 0 15px;

  font-weight: 700;
  font-size: 17px;
  line-height: 115%;
  font-family: $main-font;
  text-align: center;
  color: $white-color;
}

.side-panel__button {
  &:hover,
  &:focus-visible {
    outline: none;
    & .side-panel__icon-wrapper {
      background-color: transparentize($white-color, 0.5);
    }
    & .side-panel__button-icon {
      fill: $white-color;
    }
  }
}




.side-panel__button--go-to-top {
  & .side-panel__button-icon {
    transform: rotate(-90deg);
  }
}
