.success-stories__swiper-container {
  position: relative;
}




.success-stories__card-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 25px;
}

.success-stories__card-image-wrapper {
  position: relative;

  display: block;
  height: 0;
  padding-bottom: 65.4%;
}

.success-stories__card-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.success-stories__text-content {
  display: flex;
  flex-direction: column;
  max-width: 95%;

  gap: 7px;
}

.success-stories__card-title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: clamp(20px, 5vw, 26px);
  line-height: 130%;
  font-family: $header-font;
}

.success-stories__text {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 130%;
}
