.swiper {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;

  // width: auto;

  @media (width < $tablet-width) {
    width: min-content;
  }
}

.swiper-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0;

  background-color: $secondary-color;
  border: none;
  cursor: pointer;

  transition: background-color 0.4s ease;

  & .swiper-button-icon {
    transition: fill 0.4s ease;

    fill: $white-color;
  }

  &--prev {
    transform: rotate(180deg);
  }

  &--lock {
    display: none;
  }

  &--disabled {
    background-color: lighten($grey-color, 40%);

    pointer-events: none;
  }

  &:hover {
    background-color: $white-color;

    & .swiper-button-icon {
      fill: $secondary-color;
    }
  }

  &:focus-visible {
    border-radius: 3px;
    outline: 3px solid $primary-color;
  }

  &:active {
    opacity: 0.7;
  }

  @media (width < $laptop-width) {
    width: 44px;
    height: 44px;
  }
}

.swiper-slide-thumb-active {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 4px;

    background-color: $secondary-color;
  }
}
