.test-train {
  position: relative;
  z-index: 1;
  padding: 30px 0;

  background-image: url("@img/test-train-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color: #000, $amount: 0.4);
  }

  @media (width >= $tablet-width) {
    padding: 50px 0;
    background-image: url("@img/test-train-bg-tablet.jpg");
  }

  @media (width >= $laptop-width) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @media (width >= $semi-desktop-width) {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("@img/test-train-bg-desktop.jpg");
  }

  @media (width >= $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.test-train__content {
  display: flex;
  flex-direction: column;

  @media (width >= $semi-desktop-width) {
    display: grid;

    column-gap: 90px;

    grid-template-columns: clamp(445px, 35vw, 600px) 1fr;
    grid-template-rows: min-content auto auto;
  }

  @media (width >= $desktop-width) {
    grid-template-columns: 600px 1fr;
    column-gap: 140px;
  }
}

.test-train__title {
  color: #f0f0f0;
  margin-bottom: 10px;

  @media (width >= $laptop-width) {
    max-width: 60%;
    height: min-content;
    margin-bottom: 20px;
  }
  @media (width >= $semi-desktop-width) {
    max-width: initial;
  }
}

.test-train__info {
  @media (width >= $semi-desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.test-train__info-text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  font-family: $header-font;
  color: #f0f0f0;

  @media (width >= $tablet-width) {
    margin-bottom: 25px;

    font-size: 22px;
  }
}

.test-train__info-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  gap: 15px;

  @media (width >= $tablet-width) {
    display: grid;

    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media ($laptop-width <= width < $semi-desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}

.test-train__info-list-item {
  padding: 26px 20px;

  background-color: $white-color;

  @media (width >= $tablet-width) {
    padding: 40px;
  }
  @media (width >= $laptop-width) {
    min-height: 260px;
  }
}
.test-train__form {
  color: #f0f0f0;
}

.test-train__form-labels {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media ($tablet-width <= width < $semi-desktop-width) {
    flex-direction: row;
    gap: 20px;
  }
}

.test-train__form-label {
  max-width: 325px;
}

.test-train__form-label-text {
  color: #f0f0f0;
}

.test-train__form-button {
  max-width: 325px;
  width: 100%;
  height: 72px;
  font-size: 18px;
}

.test-train__messenger {
  width: 47px;
  height: 47px;
}

