.text-card {
  position: relative;

  padding: 20px 15px;

  background-color: $white-color;

  @media (width >= $tablet-width) {
    padding: 30px 50px;
  }
  @media (width >= $laptop-width) {
    padding: 40px 60px;
    padding-bottom: 60px;
  }
  @media (width >= $desktop-width) {
    padding: 40px 70px;
    padding-bottom: 80px;
  }
}

.text-card__content {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.text-card__title,
.text-card__sub-title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  line-height: 130%;
  font-family: $header-font;
}

.text-card__title {
  font-size: 22px;

  transition: color 0.3s ease;

  @media (width < $tablet-width) {
    color: $secondary-color;
  }
  @media (width >= $tablet-width) {
    font-size: 26px;
  }
  @media (width >= $laptop-width) {
    font-size: 30px;
  }
}

.text-card__sub-title {
  margin-bottom: 10px;

  font-size: 16px;
}

.text-card__group {
  display: flex;
  flex-direction: column;
}

.text-card__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 130%;
}

.text-card__list {
  gap: 10px;
}

.text-card__list-item {
  font-size: 16px;
}

.text-card__bg-link {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  text-decoration: none;
}

.text-card {
  &:hover,
  &:focus-within {
    & .text-card__title {
      color: $secondary-color;

      @media (width < $tablet-width) {
        color: $font-default;
      }
    }
  }
  &:active {
    opacity: 0.6;
  }
}
