.training-video {
  padding: 60px 0;

  @media (width >= $desktop-width) {
    padding: 90px 0;
  }

  @media (width >= $desktop-width) {
    padding: 100px 0;
  }
}
.training-video__content {
}
.training-video__main {

}
.training-video__title {
  margin-bottom: 30px;
}
.training-video__video-wrapper {

}
.training-video__video {

}

