.training-video {
  padding: 60px 0;

  @media (width >= $desktop-width) {
    padding: 90px 0;
  }
  @media (width >= $desktop-width) {
    padding: 100px 0;
  }
}

.training-video__title {
  margin-bottom: 30px;
}

.training-video__subtitle {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  font-family: $header-font;

  @media (width >= $laptop-width) {
    margin-bottom: 30px;

    font-size: 35px;
  }
}

.training-video__list {
  margin-bottom: 20px;

  @media (width >= $laptop-width) {
    margin-bottom: 30px;
  }
}

.training-video__button {
  max-width: 305px;
}
