.trainingScale {
  display: flex;

  gap: 4px;
}

.trainingScale--hovered {
  & .trainingScale__item {
    opacity: 1;

    transition: opacity 0.2s ease;
  }
}

.trainingScale__item {
  width: 10px;
  height: 25px;

  background-color: $secondary-color;
  opacity: 0;

  transition: none;
}
