.trainers {
  padding-top: 30px;
  padding-bottom: 55px;

  background-color: $primary-color;

  @media (width >= $laptop-width) {
    padding-top: 70px;
    padding-bottom: 85px;
  }
  @media (width >= $desktop-width) {
    padding-top: 115px;
  }
}

.trainers__content {
  position: relative;

  display: flex;
  flex-direction: column;
}

.trainers__header {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  color: $bg-color;

  gap: 5px;

  @media (width >= $laptop-width) {
    margin-bottom: 50px;
  }
  @media (width >= $desktop-width) {
    margin-bottom: 60px;
  }
}

.trainers__title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  font-family: $header-font;

  @media (width >= $laptop-width) {
    max-width: 80%;
    font-size: 35px;
  }
  @media (width >= $semi-desktop-width) {
    font-size: 40px;
  }
  @media (width >= $desktop-width) {
    font-size: 45px;
  }
}

.trainers__text {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 110%;

  @media (width >= $laptop-width) {
    font-size: 30px;
  }
}

.trainers__text--zone {
  @media (width >= $laptop-width) {
    max-width: 60%;
  }
}

.trainers__swiper-wrapper {
  position: relative;
}

.trainers__swiper-buttons {
  display: flex;
  margin-bottom: 15px;

  gap: 5px;

  @media (width >= $desktop-width - 2*$desktop-paddings + 2*$trainers-button-side-paddings) {
    position: absolute;
    right: -$trainers-button-side-paddings;
    bottom: 50%;
    left: -$trainers-button-side-paddings;

    justify-content: space-between;
  }
}

.trainers__swiper {
  @media (width < $laptop-width) {
    margin-bottom: 20px;
  }
}

.trainers__show-all-button {
  @media (width >= $tablet-width) {
    position: absolute;
    right: 0;
  }
  @media (width < $laptop-width) {
    max-width: 250px;
  }
  @media (width >= $tablet-width) {
    top: 10px;

    width: 270px;
  }
}
