<header class="page-header">
  <div class="page-header__container container">
    <div class="page-header__row">
      <div class="page-header__logos">
        <a class="page-header__logo logo" href="./index.html" >
          <picture>
            <source media="(min-width: {{desktopWidth}})" srcset="@img/phg-logo-header.svg">
            <source media="(min-width: {{laptopWidth}})" srcset="@img/phg-logo-header-laptop.svg">
            <img class="logo__image" src="@img/phg-logo-header-mobile.svg" alt="Логотип POWRHOUSE GYM">
          </picture>
        </a>
        <div class="page-header__logo-addr">
          <span class="page-header__logo-addr-city">Москва, м. Сокол</span>
          <span class="page-header__logo-addr-street">Ленинградский проспект, 80к37</span>
        </div>
        <a class="page-header__logo logo page-header__logo--lesmills" href="./index.html" >
          <img class="logo__image" src="@img/lesmils-logo-header.png" alt="Логотип lesmills" width="119" height="16">
        </a>
      </div>
      <div class="page-header__nav">
        <ul class="page-header__nav-list">
          {% for link in headerNav %}
            {% if link.dropdown %}
              <li class="page-header__nav-list-item page-header__nav-list-item--has-dropdown">
                <a class="page-header__nav-link page-header__nav-link--has-dropdown" href="{{link.href}}.html">
                  {{ link.title | safe }}
                  <svg class="page-header__nav-link-dropdwon-icon" width="15" height="8" viewBox="0 0 15 8">
                    <use xlink:href="img/sprite.svg#dropdown-arrow"></use>
                  </svg>
                </a>
                {# <div class="page-header__nav-dropdown">
                  <ul class="page-header__nav-dropdown-list">
                    {% for dropdownLink in link.dropdown %}
                      <li class="page-header__nav-dropdown-list-item">
                        <a class="page-header__nav-dropdown-link" href="{{dropdownLink.href}}.html">{{ dropdownLink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div> #}
              </li>
            {% else %}
              <li class="page-header__nav-list-item">
                <a class="page-header__nav-link" href="{{link.href}}.html">{{ link.title | safe }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="page-header__contacts">
          <div class="page-header__messengers">
            <a class="page-header__messenger messenger messenger--telegram" href="#!">
              <svg class="messenger__icon" width="16" height="14" viewBox="0 0 16 14">
                <use xlink:href="img/sprite.svg#telegram-icon"></use>
              </svg>
              <span class="visually-hidden">Контакт телеграма</span>
            </a>
            <a class="page-header__messenger messenger messenger--whatsapp" href="#!">
              <svg class="messenger__icon" width="16" height="17" viewBox="0 0 16 17">
                <use xlink:href="img/sprite.svg#whatsapp-icon"></use>
              </svg>
              <span class="visually-hidden">Контакт вотсапа</span>
            </a>
          </div>
          <a class="page-header__phone" href="tel:+79032038690">
            <svg class="page-header__phone-icon" width="25" height="26" viewBox="0 0 25 26">
              <use xlink:href="img/sprite.svg#tel-icon"></use>
            </svg>
            <span>+7 (903) 203-86-90</span>
          </a>
        </div>
        <a class="page-header__timetable-button" href="./timetable.html">
          <svg class="page-header__timetable-icon" width="25" height="26" viewBox="0 0 25 26">
            <use xlink:href="img/sprite.svg#timetable-icon"></use>
          </svg>
          <span class="visually-hidden">Расписание.</span>
        </a>
        <button class="page-header__action-button" type="button" id="show-searchbar-button">
          <svg class="page-header__action-button-icon" width="30" height="31" viewBox="0 0 30 31">
            <use xlink:href="img/sprite.svg#search-icon"></use>
          </svg>
          <span class="visually-hidden">Поиск.</span>
        </button>
        <a class="page-header__action-button" id="my-account-button" href="./my-account.html">
          <svg class="page-header__action-button-icon" width="23" height="29" viewBox="0 0 23 29">
            <use xlink:href="img/sprite.svg#my-account-icon"></use>
          </svg>
          <span class="visually-hidden">Поиск.</span>
        </a>
        <button class="page-header__burger burger">
          <span class="burger__text">Меню</span>
          <span class="burger__icon"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu__main">
      <ul class="menu__list">
        {% for link in menu %}
          {% if link.sub %}
            <li class="menu__list-item">
              <a class="menu__link menu__link--has-sub" href="{{ link.href }}.html">{{ link.title | safe }}</a>
              <div class="menu__sub">
                <button class="menu__back-button" type="button">Назад</button>
                <ul class="menu__list">
                  {% for subLink in link.sub %}
                    <li class="menu__list-item">
                      <a class="menu__link" href="{{ subLink.href }}.html">{{ subLink.title | safe }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% else %}
            <li class="menu__list-item">
               <a class="menu__link" href="{{ link.href }}.html">{{ link.title | safe }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="menu__footer">
      <div class="menu__contacts">
        <span class="menu__contacts-header">Телефон</span>
        <div class="menu__phone-wrapper">
          <a class="menu__phone" href="tel:+74951508571">
            <span>+7 495 150-85-71</span>
          </a>
          <div class="menu__messengers">
            <a class="menu__messenger messenger messenger--telegram messenger--red" href="#!">
              <svg class="messenger__icon" width="16" height="14" viewBox="0 0 16 14">
                <use xlink:href="img/sprite.svg#telegram-icon"></use>
              </svg>
              <span class="visually-hidden">Контакт телеграма.</span>
            </a>
            <a class="menu__messenger messenger messenger--whatsapp messenger--red" href="#!">
              <svg class="messenger__icon" width="16" height="17" viewBox="0 0 16 17">
                <use xlink:href="img/sprite.svg#whatsapp-icon"></use>
              </svg>
              <span class="visually-hidden">Контакт вотсапа.</span>
            </a>
          </div>
        </div>
      </div>
      <button class="button button--mobile-reverse menu__backcall-button" data-backcall-modal>
        <span>Обратный звонок</span>
        <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
          <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
        </svg>
      </button>
      <div class="menu__address">
        <div class="menu__address-wrapper menu__address-wrapper--address">
          <span class="menu__address-title">Адрес</span>
          <p class="menu__address-text">Ленинградский проспект, 80к37</p>
        </div>
        <div class="menu__address-wrapper">
          <span class="menu__address-title">Время работы</span>
          <p class="menu__address-text">
            Будни: 6:30–24:00<br>Выходные: 9:00–22:00
          </p>
        </div>
      </div>
      <div class="menu__social">
        <a class="menu__messenger messenger messenger--vk messenger--red" href="#!">
          <svg class="messenger__icon" width="23" height="14" viewBox="0 0 23 14">
            <use xlink:href="img/sprite.svg#vk-icon"></use>
          </svg>
          <span class="visually-hidden">Мы в вк.</span>
        </a>
        <a class="menu__messenger messenger messenger--youtube messenger--red" href="#!">
          <svg class="messenger__icon" width="23" height="27" viewBox="0 0 23 27" >
            <use xlink:href="img/sprite.svg#youtube-icon"></use>
          </svg>
          <span class="visually-hidden">Мы в youtube.</span>
        </a>
        <a class="menu__messenger messenger messenger--insta messenger--red" href="#!">
          <svg class="messenger__icon" width="26" height="27" viewBox="0 0 26 27">
            <use xlink:href="img/sprite.svg#inst-icon"></use>
          </svg>
          <span class="visually-hidden">Мы в instagram.</span>
        </a>
      </div>
    </div>
  </div>
  <div class="searchbar searchbar--hidden">
    <div class="searchbar__container container">
      <form method="get" action="https://echo.htmlacademy.ru" class="searchbar__form">
        <input class="searchbar__field" name="searchbar" type="text" placeholder="Начните вводить название..." autocomplete="off">
        <button class="searchbar__button button button--reverse" type="submit">Искать</button>
      </form>
    </div>
  </div>
</header>
