<section class="contacts">
  <h2 class="visually-hidden">Контакты</h2>
  <div class="contacts__container container">
    <div class="contacts__content">
      <div class="contacts__main">
        <p class="contacts__title title">Клуб находится в Москве<br><span>в 7&nbsp;минутах от&nbsp;м.&nbsp;Сокол</span></p>
        <div class="contacts__address">
          <div class="contacts__block-wrapper contacts__block-wrapper--address">
            <span class="contacts__sub-title">Адрес</span>
            <p class="contacts__text">Ленинградский проспект, 80к37</p>
          </div>
          <div class="contacts__block-wrapper">
            <span class="contacts__sub-title">Время работы</span>
            <p class="contacts__text">
              Будни: 6:30–24:00<br>Выходные: 9:00–22:00
            </p>
          </div>
        </div>

        <div class="contacts__block-wrapper contacts__block-wrapper--tels">
          <span class="contacts__sub-title">Телефон</span>
          <div class="contacts__phone-wrapper">
            <a class="contacts__phone" href="tel:+74951508571">
              <span>+7 495 150-85-71</span>
            </a>
            <div class="contacts__messengers">
              <a class="contacts__messenger messenger messenger--telegram messenger--red" href="#!">
                <svg class="messenger__icon" width="16" height="14" viewBox="0 0 16 14">
                  <use xlink:href="img/sprite.svg#telegram-icon"></use>
                </svg>
                <span class="visually-hidden">Контакт телеграма.</span>
              </a>
              <a class="contacts__messenger messenger messenger--whatsapp messenger--red" href="#!">
                <svg class="messenger__icon" width="16" height="17" viewBox="0 0 16 17">
                  <use xlink:href="img/sprite.svg#whatsapp-icon"></use>
                </svg>
                <span class="visually-hidden">Контакт вотсапа.</span>
              </a>
            </div>
          </div>
          <button class="contacts__button button">
            <span>Обратный звонок</span>
            <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
              <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
            </svg>
          </button>
        </div>

        <div class="contacts__block-wrapper contacts__block-wrapper--email">
          <span class="contacts__sub-title">email</span>
          <a class="contacts__email-link" href="mailto:info@powerhousegym.moscow">info@powerhousegym.moscow</a>
        </div>

        <div class="contacts__block-wrapper contacts__block-wrapper--social">
          <span class="contacts__sub-title">Социальные сети</span>
          <div class="contacts__social">
            <a class="menu__messenger messenger messenger--vk messenger--red" href="#!">
              <svg class="messenger__icon" width="23" height="14" viewBox="0 0 23 14">
                <use xlink:href="img/sprite.svg#vk-icon"></use>
              </svg>
              <span class="visually-hidden">Мы в вк.</span>
            </a>
            <a class="menu__messenger messenger messenger--youtube messenger--red" href="#!">
              <svg class="messenger__icon" width="23" height="27" viewBox="0 0 23 27" >
                <use xlink:href="img/sprite.svg#youtube-icon"></use>
              </svg>
              <span class="visually-hidden">Мы в youtube.</span>
            </a>
            <a class="menu__messenger messenger messenger--insta messenger--red" href="#!">
              <svg class="messenger__icon" width="26" height="27" viewBox="0 0 26 27">
                <use xlink:href="img/sprite.svg#inst-icon"></use>
              </svg>
              <span class="visually-hidden">Мы в instagram.</span>
            </a>
          </div>
        </div>
      </div>
      <div class="contacts__map">
        <span class="visually-hidden">Мы на карте.</span>
        <iframe style="pointer-events: none;" src="https://yandex.ru/map-widget/v1/?um=constructor%3Abb689987355e684966688160f6954840b52d81d80f274e79b8cc06a80c67181e&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
        <div class="contacts__map-parking">
          <div class="contacts__map-parking-text-wrapper">
            <p class="contacts__map-parking-text">Вы получите пропуск на бесплатную парковку для членов клуба</p>
          </div>
          <div class="contacts__map-parking-image-wrapper">
            <img class="contacts__map-parking-image" src="@img/parking.jpg" alt="Фотография парковки.">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
