<section class="fitquest section pads" id="fitquest">
  <h2 class="visually-hidden">Фитнес-тестирование FitQuest</h2>
  <div class="fitquest__container container">
    <div class="fitquest__content">
      <div class="fitquest__header">
        <div class="fitquest__logo">
          <img class="fitquest__logo-image" src="@img/fitquest-logo.png" alt="Логотип FitQuest" width="212" height="65">
        </div>
        <p class="fitquest__title title">Фитнес-тестирование <span>за 5 минут покажет реальное состояние</span> вашего организма </p>
      </div>
      <div class="fitquest__main">
        <ul class="fitquest__info-cards">
          <li class="fitquest__info-card">
            <div class="mini-info">
              <div class="mini-info__content">
                <img class="mini-info__icon" src="@img/icons/yoga-icon.svg" alt="" width="45" height="44">
                <div class="mini-info__main">
                  <span class="mini-info__text">Вы делаете всего 5 упражнений:</span>
                  <ul class="mini-info__list">
                    <li class="mini-info__item">приседания,</li>
                    <li class="mini-info__item">отжимания,</li>
                    <li class="mini-info__item">прыжки,</li>
                    <li class="mini-info__item">балансировку на одной ноге</li>
                    <li class="mini-info__item">бег на месте</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="fitquest__info-card">
            <div class="mini-info">
              <div class="mini-info__content">
                <img class="mini-info__icon" src="@img/icons/graphic.svg" alt="" width="44" height="44">
                <div class="mini-info__main">
                  <span class="mini-info__text">FitQuest измеряет 8 физических показателей.</span>
                  <p class="mini-info__text">Наш тренер расшифровывает и подсказывает, на каких аспектах здоровья сделать акцент и с чего начать тренировки</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <a class="fitquest__button button" href="./fitness-test.html">
          <span>Подробнее о fitquest</span>
          <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
            <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
          </svg>
        </a>
      </div>
      <div class="fitquest__video loop-video">
        <video class="loop-video__content" muted="" loop="" autoplay="" playsinline="" preload="metadata" onloadedmetadata="this.muted = true">
          <source src="https://bs.boomstream.com/balancer/dDIP3ITQ-GIDwfsOU.mp4#t=0.001" type="video/mp4">
        </video>
        <a class="loop-video__button button button--reverse" href="#!">
          <svg class="loop-video__button-icon button__icon" width="30" height="30" viewBox="0 0 35 40">
            <use xlink:href="img/sprite.svg#play-icon"></use>
          </svg>
          <span>как проходит тестирование</span>
        </a>
      </div>
    </div>
  </div>
</section>
