<section class="get-card pads section" id="tariffs">
  <h2 class="visually-hidden">О клубных картах</h2>
  <div class="container">
    <div class="get-card__content">
      <div class="get-card__header">
        {% if getCardTitle %}
          <p class="title get-card__title">{{getCardTitle | safe}}</p>
        {% else %}
          <p class="title get-card__title">Получите доступ к этой тренировке, оформив <span>клубную&nbsp;карту&nbsp;PHG</span></p>
        {% endif %}
        <a class="get-card__read-more-button button" href="./tariffs.html">
          <span>Подробнее о картах</span>
          <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
            <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
          </svg>
        </a>
      </div>
      <div class="get-card__main">
        <div class="get-card__subcription red-line">
          <p class="get-card__subscription-title title">Платите за фитнес <span>раз в месяц</span></p>
          <p class="get-card__subscription-text">как за интернет или подписку на кино</p>
          <span class="get-card__subscription-price">2 300 ₽ в месяц</span>
          <button class="get-card__subscription-button button" type="button" data-backcall-modal>Оформить подписку</button>
        </div>
        <div class="get-card__about">
          <div class="get-card__about-block">
            <p class="get-card__about-sub-title">Все клубные карты<br>включают доступ:</p>
            <ul class="get-card__about-list list">
              <li class="list__item">К тренажерному залу, зоне свободных весов, кроссфита и кардио</li>
              <li class="list__item">Всем групповым тренировкам</li>
              <li class="list__item">Студии Сайкла с тренером и без</li>
              <li class="list__item">Групповым тренировкам в зоне единоборств</li>
            </ul>
            <div class="get-card__about-timetable">
              <p class="get-card__about-timetable-line">c 6:30 до 24:00 в будни</p>
              <p class="get-card__about-timetable-line">с 9:00 до 22:00 в выходные</p>
            </div>
          </div>
          <div class="get-card__about-block">
            <p class="get-card__about-sub-title">Дополнительно:</p>
            <ul class="get-card__about-list list">
              <li class="list__item">Вводное <a href="./fitness-test.html" target="_blank">фитнес-тестирование FitQuest</a></li>
              <li class="list__item">Вводная персональная тренировка с тренером</li>
              <li class="list__item">Финская сауна для восстановления и расслабления</li>
              <li class="list__item">Бесплатная парковка у входа в клуб</li>
            </ul>
          </div>
        </div>
        <div class="get-card__tariffs swiper" id="tariffs-swiper">
          <div class="get-card__tariffs-buttons section__swiper-buttons">
            <button class="section__swiper-button swiper-button swiper-button--prev" id="tariffs-swiper-btn-prev" type="button">
              <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть назад</span>
            </button>
            <button class="section__swiper-button swiper-button swiper-button--next" id="tariffs-swiper-btn-next" type="button">
              <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть вперед</span>
            </button>
          </div>
          <div class="get-card__list swiper-wrapper">
            <div class="get-card__list-item swiper-slide">
              <div class="club-card">
                <div class="club-card__content">
                  <div class="club-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/club-cards/12m.webp 1x">
                      <img class="club-card__image" src="@img/club-cards/12m.png" alt="Клубная карта на 12 месяцев" width="480" height="263" loading="lazy">
                    </picture>
                  </div>
                  <div class="club-card__main">
                    <div class="club-card__price-wrapper">
                      <span class="club-card__price">23 900 ₽</span>
                      <p class="club-card__freeze">Бесплатная заморозка <span>на&nbsp;90&nbsp;дней</span></p>
                    </div>
                    <button class="club-card__button button" type="button" data-club-card-modal>Забронировать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="get-card__list-item swiper-slide">
              <div class="club-card club-card--orange">
                <div class="club-card__content">
                  <div class="club-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/club-cards/12m-young.webp 1x">
                      <img class="club-card__image" src="@img/club-cards/12m-young.png" alt="Клубная карта молодежная на 12 месяцев" width="480" height="263" loading="lazy">
                    </picture>
                  </div>
                  <div class="club-card__main">
                    <div class="club-card__price-wrapper">
                      <span class="club-card__price">21 900 ₽</span>
                      <div class="club-card__discount-wrapper">
                        <span class="club-card__old-price">23 900 ₽</span>
                        <span class="club-card__discount-value">15%</span>
                      </div>
                      <p class="club-card__freeze">Бесплатная заморозка <span>на&nbsp;90&nbsp;дней</span></p>
                    </div>
                    <button class="club-card__button button" type="button" data-club-card-modal>Забронировать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="get-card__list-item swiper-slide">
              <div class="club-card">
                <div class="club-card__content">
                  <div class="club-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/club-cards/12m.webp 1x">
                      <img class="club-card__image" src="@img/club-cards/12m.png" alt="Клубная карта на 12 месяцев" width="480" height="263" loading="lazy">
                    </picture>
                  </div>
                  <div class="club-card__main">
                    <div class="club-card__price-wrapper">
                      <span class="club-card__price">23 900 ₽</span>
                      <p class="club-card__freeze">Бесплатная заморозка <span>на&nbsp;90&nbsp;дней</span></p>
                    </div>
                    <button class="club-card__button button" type="button" data-club-card-modal>Забронировать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="get-card__list-item swiper-slide">
              <div class="club-card club-card--green">
                <div class="club-card__content">
                  <div class="club-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/club-cards/6m.webp 1x">
                      <img class="club-card__image" src="@img/club-cards/6m.png" alt="Клубная карта на 6 месяцев" width="480" height="263" loading="lazy">
                    </picture>
                  </div>
                  <div class="club-card__main">
                    <div class="club-card__price-wrapper">
                      <span class="club-card__price">18 900 ₽</span>
                      <p class="club-card__freeze">Бесплатная заморозка <span>на&nbsp;60&nbsp;дней</span></p>
                    </div>
                    <button class="club-card__button button" type="button" data-club-card-modal>Забронировать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="get-card__list-item swiper-slide">
              <div class="club-card club-card--blue">
                <div class="club-card__content">
                  <div class="club-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/club-cards/12m-10p.webp 1x">
                      <img class="club-card__image" src="@img/club-cards/12m-10p.png" alt="Клубная карта корпоративная на 12 месяцев на 10 человек" width="480" height="263" loading="lazy">
                    </picture>
                    <a class="club-card__link" href="./corporate.html">
                      <span class="visually-hidden">Перейти на страницу корпоративных тарифов.</span>
                    </a>
                  </div>
                  <div class="club-card__main">
                    <div class="club-card__price-wrapper">
                      <span class="club-card__price">18 900 ₽</span>
                      <div class="club-card__discount-wrapper">
                        <span class="club-card__old-price">23 900 ₽</span>
                        <span class="club-card__discount-value">25%</span>
                      </div>
                      <p class="club-card__freeze">Бесплатная заморозка <span>на&nbsp;60&nbsp;дней</span></p>
                    </div>
                    <button class="club-card__button button" type="button" data-club-card-modal>Забронировать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="get-card__list-item swiper-slide">
              <div class="club-card club-card--blue">
                <div class="club-card__content">
                  <div class="club-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/club-cards/12m-20p.webp 1x">
                      <img class="club-card__image" src="@img/club-cards/12m-20p.png" alt="Клубная карта корпоративная на 12 месяцев на 20 человек" width="480" height="263" loading="lazy">
                    </picture>
                    <a class="club-card__link" href="./corporate.html">
                      <span class="visually-hidden">Перейти на страницу корпоративных тарифов.</span>
                    </a>
                  </div>
                  <div class="club-card__main">
                    <div class="club-card__price-wrapper">
                      <span class="club-card__price">17 900 ₽</span>
                      <div class="club-card__discount-wrapper">
                        <span class="club-card__old-price">23 900 ₽</span>
                        <span class="club-card__discount-value">28%</span>
                      </div>
                      <p class="club-card__freeze">Бесплатная заморозка <span>на&nbsp;60&nbsp;дней</span></p>
                    </div>
                    <button class="club-card__button button" type="button" data-club-card-modal>Забронировать</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="get-card__list-item swiper-slide">
              <div class="club-card club-card--orange">
                <div class="club-card__content">
                  <div class="club-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/club-cards/12m-young.webp 1x">
                      <img class="club-card__image" src="@img/club-cards/12m-young.png" alt="Клубная карта молодежная на 12 месяцев" width="480" height="263" loading="lazy">
                    </picture>
                  </div>
                  <div class="club-card__main">
                    <div class="club-card__price-wrapper">
                      <span class="club-card__price">21 900 ₽</span>
                      <div class="club-card__discount-wrapper">
                        <span class="club-card__old-price">23 900 ₽</span>
                        <span class="club-card__discount-value">15%</span>
                      </div>
                      <p class="club-card__freeze">Бесплатная заморозка <span>на&nbsp;90&nbsp;дней</span></p>
                    </div>
                    <button class="club-card__button button" type="button" data-club-card-modal>Забронировать</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
