<section class="gym-walk pads">
  <h2 class="visually-hidden">Галерея тренажерного зала</h2>
  <div class="gym-walk__container container">
    <p class="gym-walk__title title"><span>Прогуляйтесь по клубу</span> прямо сейчас</p>
    <div class="gym-walk__gallery gallery">
      {% set imageCount = 1 %}
      <div class="gallery__swiper-wrapper">
        <div class="gallery__swiper gallery__swiper--main swiper">
          <div class="swiper-wrapper">
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
            <div class="gallery__swiper-slide swiper-slide">
              <picture class="gallery__swiper-slide-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
            </div>
          </div>
        </div>
        <div class="gallery__swiper gallery__swiper--thumbs gallery__swiper--thumbs-has-title gallery__swiper--with-buttons-in-thumbs swiper">
          <div class="swiper-wrapper">
            {% set imageCount = imageCount - 10 %}
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Ооооооооооооооочень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Супер мега дупер Оооооооооооооооооооооооооооочень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
            <div class="gallery__swiper-thumb swiper-slide">
              <picture class="gallery__swiper-thumb-wrapper">
                <source type="image/webp" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 1x, https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x">
                <img class="gallery__image" src="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}}" srcset="https://loremflickr.com/1920/1080/gym,girl/all?{{imageCount}} 2x" alt="Описание картинки.">
                {% set imageCount = imageCount + 1%}
              </picture>
              <span class="gallery__thumb-title">Не очень длинное описание {{imageCount - 1}}</span>
            </div>
          </div>
        </div>

        <button class="gallery__swiper-button gallery__swiper-button--prev gallery__swiper-button--in-thumbs" id="gallery-swiper-{{gallerySwiperCnt}}-prev" type="button">
          <svg class="gallery__swiper-button-icon" width="11" height="17" viewBox="0 0 11 17">
            <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
          </svg>
          <span class="visually-hidden">Перелестнуть назад</span>
        </button>
        <button class="gallery__swiper-button gallery__swiper-button--next gallery__swiper-button--in-thumbs" id="gallery-swiper-{{gallerySwiperCnt}}-next" type="button">
          <svg class="gallery__swiper-button-icon" width="11" height="17" viewBox="0 0 11 17">
            <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
          </svg>
          <span class="visually-hidden">Перелестнуть вперед</span>
        </button>
      </div>
    </div>
  </div>
</section>
