<section class="journal section pads">
  <div class="container">
    <div class="journal__content section__content">
      <h2 class="journal__title title"><a href="./blog.html">Журнал PHG</a></h2>
      <div class="journal__swiper-container section__swiper-container">
        <div class="journal__swiper-buttons section__swiper-buttons">
          <button class="section__swiper-button swiper-button swiper-button--prev" id="journal-swiper-btn-prev" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
          <button class="section__swiper-button swiper-button swiper-button--next" id="journal-swiper-btn-next" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть вперед</span>
          </button>
        </div>
        <div class="journal__swiper swiper section__swiper" id="journal-swpier">
          <div class="journal__cards-container swiper-wrapper">
            <div class="journal__cards-item swiper-slide section__swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt">99</span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt">12</span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="./blog-article.html"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide section__swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt">99</span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt">12</span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="./blog-article.html"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide section__swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt">99</span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt">12</span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="./blog-article.html"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide section__swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt">99</span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt">12</span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="./blog-article.html"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide section__swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt">99</span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt">12</span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-2.jpg" alt="">
                <a class="journal-card__link" href="./blog-article.html"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
