<section class="journal section pads">
  <div class="container">
    <div class="journal__content section__content">
      <h2 class="journal__title title">Журнал PHG</h2>
      <div class="journal__swiper-container section__swiper-container">
        <div class="journal__swiper swiper">
          <div class="journal__cards-container swiper-wrapper">
            <div class="journal__cards-item swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="#!"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="#!"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="#!"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="#!"></a>
              </div>
            </div>
            <div class="journal__cards-item swiper-slide">
              <div class="journal-card">
                <div class="journal-card__content">
                  <span class="journal-card__date">09.02.2022</span>
                  <p class="journal-card__title">Как набрать массу эктоморфу в тренажёрном зале, занимаясь 3 раза в неделю</p>
                  <div class="journal-card__hidden-content">
                    <p class="journal-card__text">Функциональный тренинг — это система физических упражнений, гармонично развивает все физические качества человека: сила, выносливость, скорость, ловкость и гибкость.</p>
                    <div class="journal-card__views-wrapper">
                      <div class="journal-card__views">
                        <span class="visually-hidden">Количество просомтров.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                      <div class="journal-card__views journal-card__views--comments">
                        <span class="visually-hidden">Количество комментариев.</span>
                        <span class="journal-card__views-cnt"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="journal-card__bg" src="@img/journal-card-image-1.jpg" alt="">
                <a class="journal-card__link" href="#!"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
