<div class="modal-image">
  <button class="modal-image__close-button" type="button">
    <span class="visually-hidden">Закрыть окно</span>
  </button>
  <figure class="modal-image__content-wrapper">
    <img class="modal-image__content" src="" alt="">
  </figure>
</div>
