<div class="modal-video">
  <div class="modal-video__content-wrapper">
    <video class="modal-video__video" controls>
      <source src="" type="video/mp4">
    </video>
    <button class="modal-video__close-button" type="button">закрыть</button>
  </div>
</div>
