{% set NEWS_CARD_NUM = 10 %}
<section class="news news--carousel section pads">
  <div class="container">
    <div class="news__content section__content">
      <div class="news__header section__header">
        {% if newsTitle %}
          <h2 class="news__title section__title title"><a href="./news.html">{{ newsTitle | safe}}</a></h2>
        {% else %}
          <h2 class="news__title section__title title"><a href="./news.html">Новости PHG</a></h2>
        {% endif %}
        <div class="news__swiper-buttons section__swiper-buttons">
          <button class="section__swiper-button swiper-button swiper-button--prev" id="news-swiper-btn-prev" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
          <button class="section__swiper-button swiper-button swiper-button--next" id="news-swiper-btn-next" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть вперед</span>
          </button>
        </div>
      </div>
      <div class="news__swiper section__swiper swiper" id="news-swiper">
        <div class="swiper-wrapper">
          {% for newsCardIndex in range(NEWS_CARD_NUM) %}
            <div class="swiper-slide section__swiper-slide">
              <div class="news-card">
                <div class="news-card__content">
                  <div class="news-card__image-wrapper">
                    <picture>
                      <source type="image/webp" srcset="@img/news-card-image-{{ (newsCardIndex % 2) + 1 }}.webp 1x">
                      <img class="news-card__image" src="@img/news-card-image-{{ (newsCardIndex % 2) + 1 }}.jpg" alt="" width="280" height="162">
                    </picture>
                  </div>
                  <span class="news-card__date">09.02.2022</span>
                  <p class="news-card__preview-text">В клубе прошло соревнование по пауэрлифтингу среди любителей</p>
                </div>
                <a class="news-card__link" href="./news-article.html"></a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
