<section class="promos pads section">
  <div class="container">
    <div class="promos__content">
      <div class="promos__swiper-container section__swiper-container">
        <div class="promos__header section__header">
          <h2 class="promos__title title section__title"><a href="./promos.html">Акции клуба</a></h2>
          <div class="promos__swiper-buttons section__swiper-buttons">
            <button class="section__swiper-button swiper-button swiper-button--prev" id="promos-swiper-btn-prev" type="button">
              <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть назад</span>
            </button>
            <button class="section__swiper-button swiper-button swiper-button--next" id="promos-swiper-btn-next" type="button">
              <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
              </svg>
              <span class="visually-hidden">Перелестнуть вперед</span>
            </button>
          </div>
        </div>
        <div class="promos__swiper section__swiper swiper" id="promos-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide section__swiper-slide">
              <div class="promo-card">
                <div class="promo-card__content">
                  <span class="promo-card__expiry-date">до 15 ноября</span>
                  <p class="promo-card__title">Отец и сын от 14 лет - один абонемент</p>
                  <p class="promo-card__description">Берите сына на тренировку. Занимайтесь вместе и показывайте ему хороший пример!</p>
                </div>
                <img src="@img/promo-father-and-son.jpg" alt="" class="promo-card__back-image" width="523" height="351">
                <a class="promo-card__link" href="#!"></a>
              </div>
            </div>
            <div class="swiper-slide section__swiper-slide">
              <div class="promo-card">
                <div class="promo-card__content">
                  <span class="promo-card__expiry-date">до 15 ноября</span>
                  <p class="promo-card__title">Отец и сын от 14 лет - один абонемент</p>
                  <p class="promo-card__description">Берите сына на тренировку. Занимайтесь вместе и показывайте ему хороший пример!</p>
                </div>
                <img src="@img/promo-father-and-son.jpg" alt="" class="promo-card__back-image" width="523" height="351">
                <a class="promo-card__link" href="#!"></a>
              </div>
            </div>
            <div class="swiper-slide section__swiper-slide">
              <div class="promo-card">
                <div class="promo-card__content">
                  <span class="promo-card__expiry-date">Бессрочная акция</span>
                  <p class="promo-card__price">2000 ₽</p>
                  <p class="promo-card__title">за друга</p>
                </div>
                <img src="@img/promo-one-friend.jpg" alt="" class="promo-card__back-image" width="523" height="351">
                <a class="promo-card__link" href="#!"></a>
              </div>
            </div>
            <div class="swiper-slide section__swiper-slide">
              <div class="promo-card">
                <div class="promo-card__content">
                  <span class="promo-card__expiry-date">Бессрочная акция</span>
                  <p class="promo-card__price">-30%</p>
                  <p class="promo-card__title">за 2 друзей</p>
                </div>
                <img src="@img/promo-two-friends.jpg" alt="" class="promo-card__back-image" width="523" height="351">
                <a class="promo-card__link" href="#!"></a>
              </div>
            </div>
            <div class="swiper-slide section__swiper-slide">
              <div class="promo-card">
                <div class="promo-card__content">
                  <span class="promo-card__expiry-date">до 15 ноября</span>
                  <p class="promo-card__title">Разовые посещения по 500 ₽ по будням до 14:00</p>
                </div>
                <img src="@img/promo-one-visit.jpg" alt="" class="promo-card__back-image" width="523" height="351">
                <a class="promo-card__link" href="#!"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
