<section class="timetable pads">
  <div class="container">
    <div class="timetable__content">
      <h2 class="timetable__title title">Расписание клуба</h2>
      <p>Здесь должно быть расписание</p>
    </div>
  </div>
</section>
