<section class="tabs-section section">
  <div class="container">
    <div class="tabs-section__content">
      <h2 class="tabs-section__title title">Пакеты групповых тренировок</h2>
      <div class="section__tabs tabs">
        <ul class="section__tabs-list tabs__list" role="tablist">
          <li class="section__tabs-item tabs__item" role="presentation">
            <button class="section__tabs-button tabs__button active button" type="button">Кроссфит</button>
          </li>
          <li class="section__tabs-item tabs__item" role="presentation">
            <button class="section__tabs-button tabs__button button" type="button">Единоборства</button>
          </li>
        </ul>
        <div class="section__tabs-content tabs__content">
          {% for index in range(2) %}
            <div class="section__tabs-panel tabs__panel {% if index == 0 %} active {% endif %}" role="tabpanel">
              <h3 class="visually-hidden">Пакет тренировок для Х</h3>
              <div class="tabs-section__panel-content train-pack transparent-bg">
                <div class="train-pack__content">
                  <p class="train-pack__text section__text">Осваивайте популярные боевые искусства с опытными тренерами — действующими спортсменами и чемпионами.
Единоборства развивают выносливость, силу, координацию, баланс, скорость реакции. Добавляют уверенности в себе и дают практически полезные навыки.Становитесь сильнее на татами, в ринге, в жизни. Тренировка длится 60 минут.</p>
                  <div class="train-pack__swiper swiper" id="train-pack-swiper-{{index + 1}}" data-train-pack-swiper>
                    <div class="train-pack__swiper-buttons section__swiper-buttons">
                      <button class="section__swiper-button swiper-button swiper-button--prev" id="train-pack-swiper-{{index + 1}}-btn-prev" type="button">
                        <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                          <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                        </svg>
                        <span class="visually-hidden">Перелестнуть назад</span>
                      </button>
                      <button class="section__swiper-button swiper-button swiper-button--next" id="train-pack-swiper-{{index + 1}}-btn-next" type="button">
                        <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
                          <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                        </svg>
                        <span class="visually-hidden">Перелестнуть вперед</span>
                      </button>
                    </div>
                    <ul class="train-pack__cards swiper-wrapper">
                      <li class="box-trains__card train-pack__card swiper-slide">
                        <div class="train-pack__card-content">
                          <span class="train-pack__card-number">1</span>
                          <span class="train-pack__card-word">тренировка</span>
                          <div class="train-pack__card-price-wrapper">
                            <span class="train-pack__card-price">1 000 ₽</span>
                          </div>
                          <button class="train-pack__card-button button">Записаться</button>
                          <div class="train-pack__card-scale-wrapper"></div>
                        </div>
                      </li>
                      <li class="box-trains__card train-pack__card swiper-slide">
                        <div class="train-pack__card-content">
                          <span class="train-pack__card-number">8</span>
                          <span class="train-pack__card-word">тренировок</span>
                          <div class="train-pack__card-price-wrapper">
                            <span class="train-pack__card-price">7 200 ₽</span>
                            <span class="train-pack__card-price-per-train">980 ₽ за тренировку</span>
                          </div>
                          <button class="train-pack__card-button button" data-train-packet-modal>ОФОРМИТЬ пакет</button>
                          <div class="train-pack__card-scale-wrapper"></div>
                        </div>
                      </li>
                      <li class="box-trains__card train-pack__card swiper-slide">
                        <div class="train-pack__card-content">
                          <span class="train-pack__card-number">12</span>
                          <span class="train-pack__card-word">тренировок</span>
                          <div class="train-pack__card-price-wrapper">
                            <span class="train-pack__card-price">21 900 ₽</span>
                            <span class="train-pack__card-price-per-train">1 380 ₽ за тренировку</span>
                          </div>
                          <button class="train-pack__card-button button" data-train-packet-modal>ОФОРМИТЬ пакет</button>
                          <div class="train-pack__card-scale-wrapper"></div>
                        </div>
                      </li>
                      <li class="box-trains__card train-pack__card swiper-slide">
                        <div class="train-pack__card-content">
                          <span class="train-pack__card-number">16</span>
                          <span class="train-pack__card-word">тренировок</span>
                          <div class="train-pack__card-price-wrapper">
                            <span class="train-pack__card-price">29 900 ₽</span>
                            <span class="train-pack__card-price-per-train">1 280 ₽ за тренировку</span>
                          </div>
                          <button class="train-pack__card-button button" data-train-packet-modal>ОФОРМИТЬ пакет</button>
                          <div class="train-pack__card-scale-wrapper"></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
