<section class="train-pack section pads">
  <h2 class="visually-hidden">Пакеты тренировок</h2>
  <div class="container">
    <div class="train-pack__content">
      <p class="train-pack__title title">Либо купите пакет тренировок LesMills&nbsp;BodyPupm</p>
      <ul class="train-pack__info-list list">
        <li class="train-pack__info-list-item list__item">Вы получите доступ в клуб только на время проведения тренировок</li>
        <li class="train-pack__info-list-item list__item">Пакетами можно пользоваться без покупки клубной карты</li>
      </ul>
      <div class="train-pack__swiper swiper" id="train-pack-swiper">
        <div class="train-pack__swiper-buttons section__swiper-buttons">
          <button class="section__swiper-button swiper-button swiper-button--prev" id="train-pack-swiper-btn-prev" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
          <button class="section__swiper-button swiper-button swiper-button--next" id="train-pack-swiper-btn-next" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть вперед</span>
          </button>
        </div>
        <ul class="train-pack__cards swiper-wrapper">
          <li class="train-pack__card swiper-slide">
            <div class="train-pack__card-content">
              <span class="train-pack__card-number">4</span>
              <span class="train-pack__card-word">тренировки</span>
              <div class="train-pack__card-price-wrapper">
                <span class="train-pack__card-price">7 900 ₽</span>
                <span class="train-pack__card-price-per-train">1 580 ₽ за тренировку</span>
              </div>
              <button class="train-pack__card-button button">ОФОРМИТЬ пакет</button>
              <div class="train-pack__card-scale-wrapper"></div>
            </div>
          </li>
          <li class="train-pack__card swiper-slide">
            <div class="train-pack__card-content">
              <span class="train-pack__card-number">8</span>
              <span class="train-pack__card-word">тренировок</span>
              <div class="train-pack__card-price-wrapper">
                <span class="train-pack__card-price">15 900 ₽</span>
                <span class="train-pack__card-price-per-train">1 580 ₽ за тренировку</span>
              </div>
              <button class="train-pack__card-button button">ОФОРМИТЬ пакет</button>
              <div class="train-pack__card-scale-wrapper"></div>
            </div>
          </li>
          <li class="train-pack__card swiper-slide">
            <div class="train-pack__card-content">
              <span class="train-pack__card-number">12</span>
              <span class="train-pack__card-word">тренировок</span>
              <div class="train-pack__card-price-wrapper">
                <span class="train-pack__card-price">21 900 ₽</span>
                <span class="train-pack__card-price-per-train">1 580 ₽ за тренировку</span>
              </div>
              <button class="train-pack__card-button button">ОФОРМИТЬ пакет</button>
              <div class="train-pack__card-scale-wrapper"></div>
            </div>
          </li>
          <li class="train-pack__card swiper-slide">
            <div class="train-pack__card-content">
              <span class="train-pack__card-number">16</span>
              <span class="train-pack__card-word">тренировок</span>
              <div class="train-pack__card-price-wrapper">
                <span class="train-pack__card-price">29 900 ₽</span>
                <span class="train-pack__card-price-per-train">1 580 ₽ за тренировку</span>
              </div>
              <button class="train-pack__card-button button">ОФОРМИТЬ пакет</button>
              <div class="train-pack__card-scale-wrapper"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
