<section class="trainers pads">
  <div class="container">
    <div class="trainers__content">
      <div class="trainers__header">
        {% if trainersTitle %}
          <h2 class="trainers__title">{{trainersTitle | safe}}</h2>
          {% if trainersText %}
            <p class="trainers__text trainers__text--zone">{{trainersText | safe}}</p>
          {% endif %}
        {% else %}
          <h2 class="trainers__title">Сертифицированные тренеры</h2>
          <p class="trainers__text">помогают достичь результатов ещё быстрее</p>
        {% endif %}
      </div>
      <div class="trainers__swiper-wrapper">

        <div class="trainers__swiper-buttons">
          <button class="swiper-button swiper-button--prev" id="trainers-swiper-prev" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
          <button class="swiper-button swiper-button--next" id="trainers-swiper-next" type="button">
            <svg class="swiper-button-icon" width="14" height="23" viewBox="0 0 11 17">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть вперед</span>
          </button>
        </div>
        <div class="trainers__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="trainers__card trainer-card">
                <div class="trainer-card__content">
                  <div class="trainer-card__main">
                    <p class="trainer-card__title">Милана Иванова</p>
                    <p class="trainer-card__sub-title">Специализации:</p>
                    <ul class="trainer-card__spec-list">
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills BodyPump</a>
                        <span>(с 2017 года)</span>
                      </li>
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills BodyCombat</a>
                        <span>(с 2015 года)</span>
                      </li>
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills Cycle Sprint</a>
                        <span>(с 2020 года)</span>
                      </li>
                    </ul>
                    <p class="trainer-card__sub-title">Может помочь:</p>
                    <ul class="trainer-card__help list">
                      <li class="trainer-card__help-item list__item">Скорректировать фигуру</li>
                      <li class="trainer-card__help-item list__item">Набрать массу</li>
                      <li class="trainer-card__help-item list__item">Увеличить силовые показатели</li>
                      <li class="trainer-card__help-item list__item">Улучшить выносливость</li>
                      <li class="trainer-card__help-item list__item">Коррекция осанки</li>
                      <li class="trainer-card__help-item list__item">Индивидуальные программы для возраста +60</li>
                    </ul>
                    <a class="trainer-card__button button" href="./trainer-page.html">
                      <span>Больше о тренере</span>
                      <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
                        <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
                      </svg>
                    </a>
                  </div>
                  <div class="trainer-card__photo">
                    <div class="trainer-card__photo-wrapper">
                      <img class="trainer-card__image" src="@img/milana-ivanova.jpg" alt="Фотографи Миланы Ивановой">
                    </div>
                    <a class="trainer-card__video-button button button--reverse" href="#!">
                      <svg class="trainer-card__button-icon button__icon" width="46" height="46" viewBox="0 0 35 40">
                        <use xlink:href="img/sprite.svg#play-icon"></use>
                      </svg>
                      <span>Видео обращение</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="trainers__card trainer-card">
                <div class="trainer-card__content">
                  <div class="trainer-card__main">
                    <p class="trainer-card__title">Милана Иванова</p>
                    <p class="trainer-card__sub-title">Специализации:</p>
                    <ul class="trainer-card__spec-list">
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills BodyPump</a>
                        <span>(с 2017 года)</span>
                      </li>
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills BodyCombat</a>
                        <span>(с 2015 года)</span>
                      </li>
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills Cycle Sprint</a>
                        <span>(с 2020 года)</span>
                      </li>
                    </ul>
                    <p class="trainer-card__sub-title">Может помочь:</p>
                    <ul class="trainer-card__help list">
                      <li class="trainer-card__help-item list__item">Скорректировать фигуру</li>
                      <li class="trainer-card__help-item list__item">Набрать массу</li>
                      <li class="trainer-card__help-item list__item">Увеличить силовые показатели</li>
                      <li class="trainer-card__help-item list__item">Улучшить выносливость</li>
                      <li class="trainer-card__help-item list__item">Коррекция осанки</li>
                      <li class="trainer-card__help-item list__item">Индивидуальные программы для возраста +60</li>
                    </ul>
                    <a class="trainer-card__button button" href="./trainer-page.html">
                      <span>Больше о тренере</span>
                      <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
                        <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
                      </svg>
                    </a>
                  </div>
                  <div class="trainer-card__photo">
                    <div class="trainer-card__photo-wrapper">
                      <img class="trainer-card__image" src="@img/milana-ivanova.jpg" alt="Фотографи Миланы Ивановой">
                    </div>
                    <a class="trainer-card__video-button button button--reverse" href="#!">
                      <svg class="trainer-card__button-icon button__icon" width="46" height="46" viewBox="0 0 35 40">
                        <use xlink:href="img/sprite.svg#play-icon"></use>
                      </svg>
                      <span>Видео обращение</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="trainers__card trainer-card">
                <div class="trainer-card__content">
                  <div class="trainer-card__main">
                    <p class="trainer-card__title">Милана Иванова</p>
                    <p class="trainer-card__sub-title">Специализации:</p>
                    <ul class="trainer-card__spec-list">
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills BodyPump</a>
                        <span>(с 2017 года)</span>
                      </li>
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills BodyCombat</a>
                        <span>(с 2015 года)</span>
                      </li>
                      <li class="trainer-card__spec-item">
                        <a class="trainer-card__spec-link" href="./program-page.html">LesMills Cycle Sprint</a>
                        <span>(с 2020 года)</span>
                      </li>
                    </ul>
                    <p class="trainer-card__sub-title">Может помочь:</p>
                    <ul class="trainer-card__help list">
                      <li class="trainer-card__help-item list__item">Скорректировать фигуру</li>
                      <li class="trainer-card__help-item list__item">Набрать массу</li>
                      <li class="trainer-card__help-item list__item">Увеличить силовые показатели</li>
                      <li class="trainer-card__help-item list__item">Улучшить выносливость</li>
                      <li class="trainer-card__help-item list__item">Коррекция осанки</li>
                      <li class="trainer-card__help-item list__item">Индивидуальные программы для возраста +60</li>
                    </ul>
                    <a class="trainer-card__button button" href="./trainer-page.html">
                      <span>Больше о тренере</span>
                      <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
                        <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
                      </svg>
                    </a>
                  </div>
                  <div class="trainer-card__photo">
                    <div class="trainer-card__photo-wrapper">
                      <img class="trainer-card__image" src="@img/milana-ivanova.jpg" alt="Фотографи Миланы Ивановой">
                    </div>
                    <a class="trainer-card__video-button button button--reverse" href="#!">
                      <svg class="trainer-card__button-icon button__icon" width="46" height="46" viewBox="0 0 35 40">
                        <use xlink:href="img/sprite.svg#play-icon"></use>
                      </svg>
                      <span>Видео обращение</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="trainers__show-all-button button button--has-dark-background" href="./trainers.html">
        <span>посмотреть всех</span>
        <svg class="button__icon" width="8" height="14" viewBox="0 0 8 14">
          <use xlink:href="img/sprite.svg#button-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
