<div class="video-widget">
  <button class="video-widget__close-button">
    <span class="visually-hidden">Закрыть видео виджет</span>
  </button>
  <div class="video-widget__content">
    <video class="video-widget__video" preload="auto" muted="muted" loop="" autoplay="" playsinline="">
      <source src="./files/ryan.mp4" type="video/mp4">
    </video>
    <button class="video-widget__button button button--reverse" data-test-train-modal>Пробная тренировка</button>
  </div>
</div>
