@mixin make-negative-paddings {
  @media (width < $tablet-width) {
    margin-right: -$mobile-paddings;
    margin-left: -$mobile-paddings;
  }
  @media (width < $laptop-width) {
    margin-right: -$tablet-paddings;
    margin-left: -$tablet-paddings;
  }
}
